section.banner {
    @media screen and (max-width: 675px) {
        margin: 3rem 0;

        > .wrapper {
            max-width: 100%;
            margin: 0;
            padding: 0 4.5rem;
            text-align: left;
            width: 100%;
        }

        h2 {
            font-size: 2.25rem;
            line-height: 1.15;
        }

        p {
            font-size: 1.25rem;
            line-height: 1.5;
        }
    }
}
