.bar {
    background-color: $black-100;
    display: flex;
        align-items: center;
    font-size: 0.875rem;
    height: 4.375rem;
    line-height: 1;
    overflow: hidden;

    .wrapper {
        box-sizing: revert;
        display: flex;
            align-items: center;
            justify-content: space-between;
        padding: 0 4.5rem;
    }

    .container {
        display: flex;
            align-items: center;
    }

    .members {
        span {
            margin-left: 3rem;

            strong {
                font-weight: 600;
                margin-left: 0.5rem;
                text-transform: uppercase;
            }
        }

        a {
            display: inline-flex;
                align-items: center;
            font-weight: 600;
            padding: 1rem 0;
            
            svg {
                height: 1rem;
                margin-right: 0.375rem;
                width: 1rem;
            }
        }
    }

    .visitors {
        font-weight: 600;
        
        span {
            margin-right: 0.3rem;

            &.blinking-dot {
                animation: pulse 2s alternate infinite;
                background-color: $red-100;
                border-radius: 3rem;
                display: block;
                height: 0.675rem;
                margin-right: 0.675rem;
                width: 0.675rem;
            }
        }
    }
}