.body {
    box-sizing: revert;
    overflow: hidden;
    padding: 0 4.5rem;

    .wrapper > .container {
        display: flex;
            align-items: center;
            justify-content: space-between;
        margin: 2.25rem 0;
    }

    .logo {
        margin-right: 3rem;

        a, img {
            display: block;
            width: 100%;
        }
    }

    .links {
        display: flex;
            align-items: center;
        flex-shrink: 0;
        
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-right: 2.5rem;

                svg {
                    height: 1.375rem;
                    width: 4rem;
        
                    .text {
                        fill: $white-100;
                    }
                }
            }

            a {
                color: $grey-550;
                font-size: 0.875rem;
                padding: 0.5rem 0;

                @media (hover: hover) {
                    &:hover {
                        color: $grey-400;
                    }

                    &:active {
                        color: $grey-500;
                    }
                }

                @media (hover: none) {
                    &:active {
                        color: $grey-400;
                    }
                }
            }
        }
    }

    button.menu {
        background: transparent;
        color: $white-100;
        display: none;
        font-size: 1rem;
        height: 2.25rem;
        
        svg {
            fill: $white-100;
            height: 2rem;
            margin-right: 0.5rem;
            width: 2rem;
        }
    }
}