body.mobile #pages > header {
  margin-bottom: 0;

  .bar {
    display: none;
  }

  .body {
    background-color: $black-100;
    padding: 0;

    > .wrapper > .container {
      background: $black-100;
      height: 54px;
      margin: 0;
      padding: 12px 14px;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 225;
    }

    .logo {
      height: 100%;
      width: 48%;

      a,
      img {
        height: 100%;
        max-width: 100%;
        width: auto;
      }
    }

    .links {
      a.button {
        height: auto;
        padding: 8px 12px;
      }
    }
  }

  nav {
    background: $black-100;
    border-top: 1px solid #27292c;
    height: 52px;
    position: fixed;
    left: 0;
    top: 54px;
    width: 100%;
    will-change: transform;
    z-index: 200;

    button.navigation {
      display: none !important;
    }

    .container {
      height: 100%;
      overflow-x: scroll;
      padding-top: 7px;
    }

    ul {
      padding: 0 12px;

      li {
        &:not(:last-of-type) {
          margin-right: 8px;
        }

        a {
          border-width: 1.6px;
          font-size: 13px;
          height: 35.2px;
          padding: 0 16px;

          svg {
            height: 18.8px;
            width: auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1280px) {
  }

  @media screen and (max-width: 812px) {
    nav ul li:last-of-type {
      border-right: 14px solid transparent;
    }
  }
}
