nav {
  overflow: hidden;
  position: relative;

  button.navigation {
    border-radius: 0;
    display: none;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    transform: none !important;
    width: 5rem;

    &[data-direction='left'] {
      background: linear-gradient(to right, $grey-900 50%, transparent);
      justify-content: flex-start;
      left: 0;
    }

    &[data-direction='right'] {
      background: linear-gradient(to left, $grey-900 50%, transparent);
      justify-content: flex-end;
      right: 0;
    }

    @media (hover: hover) {
      &:hover {
        svg {
          border-color: $grey-300;
          fill: $white-100;
        }
      }

      &:active {
        svg {
          border-color: $grey-400;
          fill: $grey-400;
          transition: 0s;
        }
      }
    }

    &:after {
      border-color: transparent !important;
    }

    svg {
      border-radius: 5rem;
      border: 0.125rem solid transparent;
      fill: $white-100;
      height: 2.25rem;
      margin: 0 0.125rem;
      padding: 0.5rem;
      transition: border-color 100ms ease;
      width: 2.25rem;
    }
  }

  &.show-nav-left button.navigation[data-direction='left'] {
    display: flex;
  }

  &.show-nav-right button.navigation[data-direction='right'] {
    display: flex;
  }

  .container {
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      flex-shrink: 0;
      width: auto;

      &:not(:last-of-type) {
        margin-right: 1rem;
      }

      &:last-of-type a {
        margin-right: 1.25rem;
      }
    }
  }

  a {
    border: 0.125rem solid $grey-800;
    border-radius: 5rem;
    color: $grey-100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 600;
    height: 2.5rem;
    line-height: 1;
    padding: 0 1.5rem;
    text-transform: uppercase;
    transition: border-color 150ms ease;

    svg {
      height: 1.375rem;
      margin: 0;
      width: 4rem;

      .text {
        fill: $white-100;
      }
    }

    @media (hover: hover) {
      &:hover {
        border-color: $white-100;
        color: $white-100;
        transition: 0s;
      }

      &:active {
        background-color: transparent;
        transition: 0s;
      }
    }
  }

  li.active {
    a {
      background-color: $white-100;
      border-color: $grey-800 !important;
      color: $grey-800;
    }

    &[data-target='live'] svg .text {
      fill: $black-100;
    }
  }
}
