#pages > header {
  @media screen and (max-width: 1330px) {
    // nav {
    //     button.navigation {

    //     }

    //     &[data-navigation="left"], &[data-navigation="left-right"] {
    //         button.navigation.left {
    //             display: flex;
    //         }
    //     }

    //     &:not([data-navigation="left"]) {
    //         button.navigation.right {
    //             display: flex;
    //         }
    //     }
    // }
  }

  @media screen and (max-width: 1280px) {
    .links {
      li[data-target='legal-note'] {
        display: none;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .bar > .wrapper {
      padding: 0 1.25rem;
    }

    .body {
      padding: 0;

      > .wrapper {
        padding: 0 !important;

        > .container {
          padding: 0 1.25rem;
        }
      }
    }

    nav {
      button.navigation {
        &[data-direction='left'] {
          padding-left: 0.875rem;
        }

        &[data-direction='right'] {
          padding-right: 0.875rem;
        }
      }

      ul {
        padding: 0 1.25rem;
      }
    }
  }

  @media screen and (max-width: 950px) {
    .members {
      span {
        display: none;
      }
    }

    .links {
      li[data-target='about-us'],
      li[data-target='support'],
      li[data-target='login'] {
        display: none;
      }
    }
  }

  @media screen and (max-width: 675px) {
  }
}
