section[data-type="article"] {
    @media screen and (max-width: 1024px) {
        aside {
            display: none;
        }

        article {
            margin: 0 auto;
            padding: 0 0.25rem;
            width: 80%;

            h3 {
                margin-top: 0;
            }

            .button {
                margin: 0 0.25rem;
                width: calc(100% - 0.5rem);
            }
        }
    }

    @media screen and (max-width: 675px) {
        article {
            h3 {
                font-size: 1.75rem;
                margin-bottom: 1.25rem;
            }

            .button {
                bottom: 1rem;
                height: 3.5rem;
            }
        }
    }
}