aside {
    @media screen and (max-width: 950px) {
        padding: 3.5rem 1.25rem 1rem;
    }

    @media screen and (max-width: 675px) {
        .cta .button {
            font-size: 1rem;
        }
    }
}