.pn-widget[data-type="category"] {
    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 1.3125rem;
        font-weight: 600;
        margin: 0 5% 1.125rem;
    }


    > .listings {
        > .navigation {
            button.navigation {
                background-color: rgba(0, 0, 0, 0.425);
                width: 4%;

                svg {
                    opacity: 0;
                    transition: opacity 150ms ease;
                }

                &[data-direction="left"] {
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                    left: 0;
                }

                &[data-direction="right"] {
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    right: 0;
                }

                @media (hover: hover) {
                    &:hover {
                        transform: none;

                        svg {
                            opacity: 1;
                        }

                        &:after {
                            border-color: transparent;
                        }
                    }

                    &:active {
                        transform: none;

                        svg {
                            transform: scale(0.99);
                        }
                    }
                }
            }
        }

        .items {
            left: -17.75%;

            .pn-video {
                margin-right: 1%;
                width: 21.75%;
            }
        }
    }

    &[data-transitioning] {
        > .listings {
            > .navigation {
                button.navigation {
                    background-color: transparent;
                }
            }
        }
    }
}

@import "category/responsive";
@import "category/mobile";
