.pn-widget[data-type="chapters"] {
    margin-top: 1rem;

    .listings > .container {
        overflow: hidden;
    }

    .pn-chapter {
        width: 15.83333%;
            min-width: 11.25rem;

        &:not(:last-of-type) {
            margin-right: 1%;
        }
    }
}
