.pn-widget[data-type="guide"] {
    > .title {
        display: none;
            align-items: center;
        margin: 1.75rem 0;

        .bar {
            background-color: $grey-850;
            flex: 1 1 auto;
            height: 0.0625rem;
        }

        .content {
            color: $grey-700;
            flex-shrink: 0;
            font-size: 0.875rem;
            font-weight: 600;
            padding: 0 1rem;
            text-transform: uppercase;
        }
    }

    > .listings {
        > .navigation button.navigation {
            // height: calc(100% - 19.5rem);
            height: 100%;
        }

        > .container {
            overflow: hidden;
        }
    }
}

@import "guide/mobile";
