&[data-type="expanded"] {
    .video {
        padding-bottom: 63%;

        .cover {
            background-size: 100%;
            left: -10%;
            width: 120%;
        }

        .channel {
            bottom: 1rem;
            display: block;
            filter: none;
            height: 20%;
            right: 0;
            width: 100%;
        }

        button svg {
            height: 17%;
            margin-bottom: 9%;
            width: 17%;
        }

        &:after {
            background-image: url($IMG_BASE_URI + "/backgrounds/fade-long.png");
            background-repeat: repeat-x;
            content: '';
            height: 11rem;
            overflow: hidden;
            position: absolute;
                bottom: 0;
                left: 0;
            width: 100%;
            z-index: 25;
        }
    }

    .description {
        display: flex;
            align-items: center;
            flex-direction: column;
        padding: 0 1.5rem 1rem;

        .title {
            font-size: 1.25rem;
            text-align: center;
            width: 90%;
        }

        .time {
            font-size: 0.97rem;
            font-weight: 600;

            svg {
                margin-right: 0.375rem;
            }
        }

        button {
            margin: 1.25rem auto 0.75rem;
            width: 67.5%;
        }

        .progress {
            border-radius: 0.375rem;
            margin: 1rem 0 0.75rem;
            position: relative;

            > .bar {
                border-radius: 0.375rem;
            }
        }

        .meta {
            justify-content: space-between;
            width: 100%;

            > span {
                color: $grey-450;
                font-size: 0.6875rem;
                font-weight: 500;

                &:after {
                    content: '';
                }
            }

            .duration:before {
                font-weight: 700;
                margin-right: 0.375rem;
            }
        }
    }
}
