&[data-type="recommended"] {
    .preview {
        height: 6.5rem;
        opacity: 1;
        padding: 0.5rem;
        position: relative;

        .cover {
            width: 35%;
        }

        .details {
            display: flex;
                flex-direction: column;
                justify-content: space-between;

            .container {
                display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                margin-bottom: 0.375rem;
            }

            .title {
                display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                height: 3rem;
                line-height: 1.45;
                white-space: normal;
            }

            .channel {
                height: 1.6rem;
                margin: 0;
            }

            .status {
                margin-right: 0.375rem;
                position: relative;
                    left: revert;
                    top: revert;
            }
        }
    }
}