<template>
  <div>
    <div v-if="$fetchState.pending"></div>
    <div v-if="$fetchState.error">Error!</div>
    <div v-else :key="$route.fullPath" data-type="channel" class="page" >
      <ChannelPlayer />
      <Categories />
    </div>
  </div>
</template>

<script>
export default {
  async fetch() {
    await this.$store.dispatch('fetchChannel', this.$route.params.slug)
  },
  watch: {
    '$route.params': '$fetch',
  },
}
</script>
