a {
    border-color: transparent;
    color: $white-100;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 100ms ease, color 100ms ease, transform 100ms ease;

    svg {
        fill: $white-100;
        transition: fill 100ms ease;
    }

    &:active {
        color: $grey-400;

        svg {
            fill: $grey-400;
        }
    }
    
    @media (hover: hover) {
        &:hover {
            color: $grey-400;

            svg {
                fill: $grey-400;
            }
        }

        &:active {
            color: $grey-500;
    
            svg {
                fill: $grey-500;
            }
        }
    }
}

.button {
    background-color: $red-100;
    border: 0;
    border-radius: 0.3125rem;
    color: $white-100 !important;
    cursor: pointer;
    display: flex;
        align-items: center;
        justify-content: center;
    flex-shrink: 0;
    font-size: 0.875rem;
    font-weight: 700;
    height: 2.75rem;
    line-height: 1;
    outline: 0;
    padding: 0 1.25rem;
    position: relative;
    text-transform: uppercase;
    transition: color 150ms ease, transform 150ms ease;

    svg {
        transition: transform 150ms ease;
    }

    &:after {
        border: 0.25rem solid transparent;
        border-radius: 0.3125rem;
        content: '';
        height: 100%;
        position: absolute;
            left: 0;
            top: 0;
        transition: border-color 150ms ease;
        width: 100%;
    }

    &.grey {
        background-color: $grey-800;

        svg {
            stroke: $white-100;
        }
    
        &:active {
            background-color: $grey-850;
        }
    }

    &.light-grey {
        background-color: $grey-600;

        svg {
            stroke: $white-100;
        }
    
        &:active {
            background-color: $grey-650;
        }
    }

    &:active {
        background-color: $red-400;
    }

    @media (hover: hover) {
        &:hover {
            transform: scale(1.04);

            &:after {
                border-color: rgba(0, 0, 0, 0.36);
            }
        }

        &.grey:hover, &.light-grey:hover {
            &:after {
                border-color: rgba(255, 255, 255, 0.1);
            }
        }

        &:active {
            transform: scale(1.02);
            transition: transform 0s;
        }
    }
}