@keyframes marqueeLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(var(--width) * -1px));
    }
}

@keyframes marqueeRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(var(--width) * 1px));
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes showModal {
    0%{
        transform: scale(1);
    }
    1%{
        opacity: 0;
        transform: scale(.95) translateY(40px);
    }
    to{
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes showModalMobile {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
}
