*, *:before, *:after {
    box-sizing: border-box;
    user-select: none;
        -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, button, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, article, canvas, embed, footer, header, nav, section, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    text-size-adjust: none;
    transition: 0s;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

footer, header, nav, section, main {
    display: block;
}

body {
    line-height: 1;
}

button {
    cursor: pointer;
}

p, div {
    line-height: 1.45;
}

ol, ul {
    line-height: 1.67;
    list-style: none;
}

strong {
    font-weight: 700;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    border-radius: 0;
    -webkit-appearance: none;
}