body.mobile {
  .pn-modal {
    align-items: flex-end;

    .container {
      animation: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      max-height: calc(100% - 5rem);
      max-width: 100%;
      transform: translateY(100%);
      transition: transform 350ms ease;
    }
  }

  &.show-modal {
    #app {
      overflow: hidden;
    }

    .pn-modal {
      .container {
        transform: translateY(0);
      }
    }
  }
}
