section[data-type="article"] {
    display: flex;
        align-items: flex-start;
    margin-top: 1.5rem;
    padding: 1.5rem 0;
    
    aside {
        background-color: $black-100;
        margin-right: 1rem;
    }

    article {
        border-radius: 0.375rem;
        color: $grey-100;
        flex-shrink: 0;
        max-height: 38.5rem;
        overflow: hidden;
        padding: 0 3rem;
        position: relative;
        width: 65%;
    
        h2, h3 {
            color: $white-100;
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.33;
            margin: 0.75rem 0 2rem;

            &:before {
                color: red;
                content: 'Article';
                display: block;
                font-size: 1.1rem;
                font-weight: 700;
                margin-bottom: 0.5rem;
                text-transform: uppercase;
            }
        }

        h4 {
            font-size: 1.375rem;
            font-weight: 700;
            margin: 2rem 0 0.75rem;
        }
    
        p {
            font-size: 1.1rem;
            line-height: 1.67;
    
            &:not(:last-of-type) {
                margin-bottom: 0.875rem;
            }
        }

        &:after {
            background-image: url($IMG_BASE_URI + "/backgrounds/fade-long-article.png");
            background-repeat: repeat-x;
            content: '';
            height: 20rem;
            position: absolute;
                bottom: 0;
                left: 0;
            width: 100%;
            z-index: 25;
        }

        .button {
            background-color: $grey-825;
            height: 4rem;
            margin: 0 3rem;
            position: absolute;
                bottom: 0;
                left: 0;
            width: calc(100% - 6rem);
            z-index: 50;

            svg {
                fill: $grey-600;
                height: 3rem;
                transition: fill 150ms ease, transform 150ms ease;
                width: 3rem;
            }

            @media (hover: hover) {
                &:hover {
                    transform: scale(1.01);

                    svg {
                        fill: $white-100;
                    }

                    &:after {
                        border-color: rgba(255, 255, 255, 0.1);
                    }
                }

                &:active {
                    transform: scale(1);
                    transition: 0s;
                }
            }
        }
    }
}

@import "article/responsive";
@import "article/mobile";