aside {
    background-color: $grey-900;
    border-radius: 0.375rem;
    display: flex;
        flex-direction: column;
    overflow: hidden;
    padding: 4rem 1.75rem 1.5rem;
    position: relative;

    &:before {
        background-color: $grey-850;
        color: $white-100;
        content: '';
        display: flex;
            align-items: center;
            justify-content: center;
        font-size: 0.875rem;
        font-weight: 700;
        height: 2.5rem;
        position: absolute;
            left: 0;
            top: 0;
        text-transform: uppercase;
        width: 100%;
    }

    > .container {
        display: flex;
            flex-direction: column;
            justify-content: space-between;
        height: 100%;
    }

    h2 {
        font-size: 1.1rem;
        font-weight: 700;
        margin: 0 0 0.25rem;
    }

    .meta {
        display: flex;
            align-items: center;
        flex-wrap: wrap;
        font-size: 0.925rem;
        font-weight: 600;
        line-height: 1.5;
        margin: 0.2rem 0 1rem;
        text-transform: uppercase;

        > span {
            font-size: 0.8rem;
            font-weight: 400;

            &:not(:last-of-type):after {
                content: '•';
                margin: 0 0.5rem;
            }
        }

        .time {
            display: flex;
                align-items: center;             

            svg {
                fill: none;
                height: 1rem;
                margin-right: 0.25rem;
                stroke: $white-100;
                width: 1rem;
            }
        }

        .duration {
            display: inline-flex;
                align-items: center;
                justify-content: flex-end;
            flex-shrink: 0;
            text-transform: uppercase;
        }
    }

    p {
        display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        font-size: 0.95rem;
        line-height: 1.45;
        margin: 0 0 1rem;
        overflow: hidden;
    }

    .cta {
        width: 100%;

        button {
            width: 100%;

            &:not(:last-of-type) {
                margin-bottom: 0.75rem;
            }
        }
    }

    @import "aside/types/recommended";
}

@import "aside/responsive";