section.banner {
    margin: 4.5rem 0 3rem;
    text-align: center;

    > .wrapper {
        max-width: 80%;
        width: 80%;
    }

    h2 {
        color: $white-100;
        font-size: 3.1rem;
        font-weight: 800;
        line-height: 1.25;
        margin: 0;
        
        span {
            color: $red-100;
            display: block;
            font-size: 0.375em;
            font-weight: 700;
            margin-bottom: 0.75em;
            text-transform: uppercase;
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 1.67;
        margin: 1rem 0 0;
    }
}

@import "banner/responsive";