/* [data-channel="classic-select"] {
    .channel {
        &:before {
            content: 'Classic Select';
        }

        &.logo {
            &:before {
                display: none;
            }

            content: url($IMG_BASE_URI + "/logos/classic-select.svg");
        }
    }

    &.channel {
        &:before {
            content: 'Classic Select' !important;
        }

        &.logo {
            &:before {
                display: none !important;
            }

            content: url($IMG_BASE_URI + "/logos/classic-select.svg") !important;
        }
    }
}

[data-channel="heritage"] {
    .channel {
        &:before {
            content: 'Heritage';
        }

        &.logo {
            &:before {
                display: none;
            }

            content: url($IMG_BASE_URI + "/logos/heritage.svg");
        }
    }

    &.channel {
        &:before {
            content: 'Heritage' !important;
        }

        &.logo {
            &:before {
                display: none !important;
            }

            content: url($IMG_BASE_URI + "/logos/heritage.svg") !important;
        }
    }
}

[data-channel="lifestyle-one"] {
    .channel {
        &:before {
            content: 'Lifestyle One';
        }

        &.logo {
            &:before {
                display: none;
            }

            content: url($IMG_BASE_URI + "/logos/lifestyle-one.svg");
        }
    }

    &.channel {
        &:before {
            content: 'Lifestyle One' !important;
        }

        &.logo {
            &:before {
                display: none !important;
            }

            content: url($IMG_BASE_URI + "/logos/lifestyle-one.svg") !important;
        }
    }
}

[data-channel="neptune"] {
    .channel {
        &:before {
            content: 'Neptune';
        }

        &.logo {
            &:before {
                display: none;
            }

            content: url($IMG_BASE_URI + "/logos/neptune.svg");
        }
    }

    &.channel {
        &:before {
            content: 'Neptune' !important;
        }

        &.logo {
            &:before {
                display: none !important;
            }

            content: url($IMG_BASE_URI + "/logos/neptune.svg") !important;
        }
    }
}

[data-channel="nudismo-tv"] {
    .channel {
        &:before {
            content: 'Nudismo TV';
        }

        &.logo {
            &:before {
                display: none;
            }

            content: url($IMG_BASE_URI + "/logos/nudismo-tv.svg");
            transform: translateY(-0.25rem);
        }
    }

    &.channel {
        &:before {
            content: 'Nudismo TV' !important;
        }

        &.logo {
            &:before {
                display: none !important;
            }

            content: url($IMG_BASE_URI + "/logos/nudismo-tv.svg") !important;
            transform: translateY(-0.25rem) !important;
        }
    }
}

[data-channel="shoreline-travels"] {
    .channel {
        &:before {
            content: 'Shoreline Travels';
        }

        &.logo {
            &:before {
                display: none;
            }

            content: url($IMG_BASE_URI + "/logos/shoreline-travels.svg");
        }
    }

    &.channel {
        &:before {
            content: 'Shoreline Travels' !important;
        }

        &.logo {
            &:before {
                display: none !important;
            }

            content: url($IMG_BASE_URI + "/logos/shoreline-travels.svg") !important;
        }
    }
}

[data-channel="sunlight"] {
    .channel {
        &:before {
            content: 'Sunlight';
        }

        &.logo {
            &:before {
                display: none;
            }

            content: url($IMG_BASE_URI + "/logos/sunlight.svg");
        }
    }

    &.channel {
        &:before {
            content: 'Sunlight' !important;
        }

        &.logo {
            &:before {
                display: none !important;
            }

            content: url($IMG_BASE_URI + "/logos/sunlight.svg") !important;
        }
    }
}

[data-channel="wellness-duo"] {
    .channel {
        &:before {
            content: 'Wellness Duo';
        }

        &.logo {
            &:before {
                display: none;
            }

            content: url($IMG_BASE_URI + "/logos/wellness-duo.svg");
            transform: translateY(-0.25rem);
        }
    }

    &.channel {
        &:before {
            content: 'Wellness Duo' !important;
        }

        &.logo {
            &:before {
                display: none !important;
            }

            content: url($IMG_BASE_URI + "/logos/wellness-duo.svg") !important;
            transform: translateY(-0.25rem) !important;
        }
    }
} */
