.pn-chapter {
    border-radius: 0.375rem;
    cursor: pointer;
    display: block;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;

    &:after {
        border: 0.25rem solid $red-100;
        content: '';
        display: block;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
            left: 0;
            top: 0;
        transition: opacity 150ms ease;
        width: 100%;
        z-index: 50;
    }

    .cover {
        background-color: $grey-850;
        background-position: center 0;
        background-repeat: no-repeat;
        background-size: cover;
        height: 7rem;
    }

    .timestamp {
        background-color: $grey-900;
        color: $grey-300;
        font-size: 0.9rem;
        padding: 0.5rem 0.375rem;
        line-height: 1;
        text-align: center;
        width: 100%;
    }

    @media (hover: hover) {
        &:hover {
            &:after {
                opacity: 1;
            }
        }

        &:active {
            &:after {
                border-color: $red-400;
            }
        }
    }
}
