.pn-modal {
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
        align-items: center;
        justify-content: center;
    height: 100%;
    opacity: 0;
    overscroll-behavior: none;
    pointer-events: none;
    position: fixed;
        left: 0;
        top: 0;
    transition: opacity 150ms ease;
    width: 100%;
    // will-change: background-color;
    z-index: 1000;

    .container {
        background: linear-gradient(to bottom, $black-100 0px, $black-100 0.75rem, $white-100 0.75rem, $white-100 100%);
        border-radius: 0.75rem;
        color: $black-100;
        display: flex;
            flex-direction: column;
        max-height: 80%;
        opacity: 0;
        overflow: hidden;
        overscroll-behavior: none;
        text-align: center;
        width: 100%;
            max-width: 30rem;
        // will-change: transform;
    }

    header {
        background-color: $red-100;
        background-image: linear-gradient(45deg, #ff2048 25%, #f01d40 25%, #f01d40 50%, #ff2048 50%, #ff2048 75%, #f01d40 75%, #f01d40 100%);
        background-size: 42.43px 42.43px;
        clip-path: url(#curve);
        padding: 2.75rem 0 3rem;
        transform: translateZ(0);
    }

    .steps {
        overflow-x: hidden;
        overflow-y: scroll;
        overscroll-behavior: none;
        position: relative;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .step {
        display: block;
        padding-bottom: 2.5rem;
        position: relative;
        transform: translateZ(0);
    }

    h2 {
        font-size: 1.925rem;
        font-weight: 700;
        letter-spacing: -1px;
        margin: 1.75rem 0 1.25rem;
    }

    ul {
        display: flex;
            align-items: flex-start;
            flex-direction: column;
        font-size: 1.05rem;
        font-weight: 500;
        margin: 0 auto;
        width: 75%;

        li {
            display: flex;
                align-items: center;
            line-height: 1.3;
            text-align: left;

            &:not(:last-of-type) {
                margin-bottom: 0.5rem;
            }

            svg {
                height: 2rem;
                margin-right: 0.75rem;
                fill: $red-100;
                width: 2rem;
            }
        }
    }

    a.button {
        background-color: $blue-100 !important;
        border-radius: 5rem !important;
        font-size: 1.2rem !important;
        height: 4rem !important;
        margin: 2rem auto 0;
        width: 80%;

        &:after {
            border-radius: 5rem !important;
        }
    }
}

body.show-modal {
    .pn-modal {
        opacity: 1;
        pointer-events: revert;

        .container {
            animation: showModal 400ms;
            opacity: 1;
        }
    }
}

@import "modal/responsive";
@import "modal/mobile";
