button.navigation {
    background-color: $grey-800;
    border: 0;
    border-radius: 0.3125rem;
    cursor: pointer;
    outline: 0;
    padding: 0;
    position: absolute;
    transition: background-color 150ms ease, transform 150ms ease;
    width: 3.5rem;
    z-index: 100;

    svg {
        fill: $white-100;
        height: 2.875rem;
        transition: transform 150ms ease;
        width: 2.875rem;
    }

    &:after {
        border: 0.25rem solid transparent;
        border-radius: 0.3125rem;
        content: '';
        height: 100%;
        position: absolute;
            left: 0;
            top: 0;
        transition: border-color 150ms ease;
        width: 100%;
    }

    &:active {
        // background-color: $grey-850;
    }

    @media (hover: hover) {
        &:hover {
            transform: scale(1.01);

            &:after {
                border-color: rgba(255, 255, 255, 0.1);
            }

            svg {
                transform: scale(1.1);
            }
        }

        &:active {
            transform: scale(1);
            transition: transform 0s;

            svg {
                fill: $grey-200;
                transform: scale(1);
            }
        }
    }
}