.pn-player {
  background-color: $black-100;
  border-radius: 0.375rem;
  display: block;
  padding: 1rem;
  position: relative;

  > header {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;

    > .container {
      display: flex;
      height: 100%;
      position: relative;
    }

    .items {
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      ul {
        display: flex;

        li {
          margin-right: 1rem;
          width: 11.33333rem;

          a {
            background-color: $grey-850;
            border-radius: 0.375rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            height: 4rem;
            position: relative;
            transition: opacity 150ms ease;


            &:not(.active) {
              opacity: 0.4;
            }

            &.active:after {
              border: 0.25rem solid rgba(255, 255, 255, 0.035);
              content: '';
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
            }

            @media (hover: hover) {
              &:not(.active):hover {
                opacity: 0.9;
              }

              &:not(.active):active {
                opacity: 0.8;
                transition: 0s;
              }
            }
          }
        }
      }
    }

    .channel {
      max-height: 2rem;
      max-width: 70%;
    }

    .channels {
      overflow: hidden;
      position: relative;

      .items {
        display: flex;
        scrollbar-width: none;
      }

      button.navigation {
        background-color: $black-100;
        border-radius: 0;
        display: flex;
        align-items: center;
        height: 100%;
        top: 0;
        transform: none !important;
        transition: none;
        width: 6rem;

        &[data-direction='left'] {
          background: linear-gradient(to right, $black-100 50%, transparent);
          display: flex;
          left: 0;
          justify-content: flex-start;
        }

        &[data-direction='right'] {
          background: linear-gradient(to left, $black-100 50%, transparent);
          justify-content: flex-end;
          right: 0;
        }

        &:after {
          border-color: transparent !important;
        }

        svg {
          border-radius: 5rem;
          border: 0.125rem solid transparent;
          fill: $white-100;
          height: 2.25rem;
          margin: 0 0.375rem;
          transition: transform 150ms ease;
          width: 2.25rem;
        }
      }

      &.show-nav-left button.navigation[data-direction='left'] {
        display: flex;
      }

      &.show-nav-right button.navigation[data-direction='right'] {
        display: flex;
      }
    }
  }

  > main {
    display: flex;

    > .pn-video {
      width: 70%;

      .video {
        .channel {
          bottom: 1rem;
          right: 1.25rem;
        }
      }

      &:after {
        display: none;
      }
    }

    .pn-widget[data-type='chapters'] {
      display: none;
    }

    aside {
      margin-left: 1rem;

      &:before {
        content: 'Now Playing';
      }
    }
  }

  .pn-widget[data-type='guide'] {
    margin-top: 0.5rem;

    > .listings {
      > .navigation {
        button.navigation {
          display: flex;
          align-items: center;
          height: 100%;
          opacity: 0;
          pointer-events: none;
          width: 8rem;

          &:after {
            border-color: transparent;
          }

          &[data-direction='left'] {
            background: linear-gradient(to right, #07080a 20%, transparent);
            justify-content: flex-start;
            left: 0;
          }

          &[data-direction='right'] {
            background: linear-gradient(to left, #07080a 20%, transparent);
            justify-content: flex-end;
            right: 0;
          }
        }
      }

      > .container {
        padding-top: 1rem;

        .pn-schedule {
          margin: 0 1% 0 0;
          width: 24.25% !important;
          min-width: 17.5rem;

          &:first-of-type:before {
            border-left: 0.8rem solid transparent;
            border-right: 0.8rem solid transparent;
            border-bottom: 0.5rem solid $grey-300;
            content: '';
            height: 0;
            width: 0;
            position: absolute;
            left: calc(50% - 0.4rem);
            top: -0.5rem;
            transition: border-color 150ms ease;
          }

          .pn-video[data-type='expanded'] {
            .description {
              padding: 0 1.25rem 1rem;

              .title {
                font-size: 1.05rem;
              }

              .time {
                font-size: 0.95rem;
              }

              button {
                background-color: $blue-100;
                width: 75%;
              }
            }

            &:after {
              border-color: $grey-800;
              opacity: 1;
              transition: border-color 150ms ease;
            }

            &[data-status='live']:after {
              border-color: $grey-300;
              border-radius: 0.375rem;
              overflow: hidden;
            }
          }

          @media (hover: hover) {
            &:hover {
              &:first-of-type:before {
                border-bottom-color: $red-100;
              }

              .pn-video[data-type='expanded'] {
                &:after {
                  border-color: $red-100;
                }
              }
            }
          }
        }
      }
    }
  }

  .pn-widget[data-type='chapters'] {
    > .listings {
      > .navigation {
        button.navigation {
          display: flex;
          align-items: center;
          height: 100%;
          opacity: 0;
          pointer-events: none;
          transition: background-color 0s;
          width: 6.5rem;

          &:after {
            border-color: transparent;
          }

          &[data-direction='left'] {
            background: linear-gradient(to right, #07080a 20%, transparent);
            justify-content: flex-start;
            left: 0;
          }

          &[data-direction='right'] {
            background: linear-gradient(to left, #07080a 20%, transparent);
            justify-content: flex-end;
            right: 0;
          }
        }
      }
    }
  }
}

@import 'player/responsive';
@import 'player/mobile';
