.pn-schedule {
    display: flex;
        flex-direction: column;
        flex-shrink: 0;
    margin: 0 1.4% 0 0;
    position: relative;
    width: 32.4% !important;

    > .items {
        display: flex;
            flex-direction: column;
        width: 100%;
    }

    .pn-video {
        &:not(:last-of-type) {
            margin-bottom: 0.5rem;
        }
    }
}

@import "schedule/responsive";
