.pn-video {
    border-radius: 0.375rem;
    display: flex;
        flex-shrink: 0;
    overflow: hidden;
    position: relative;
    transition: transform 150ms ease;

    a {
        background-color: $black-100;
        border-radius: 0.375rem;
        color: $white-100 !important;
        display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        overflow: hidden;
        position: relative;
        transform: translateZ(0);
        width: 100%;
    }

    .status {
        border-radius: 0.1875rem;
        color: $white-100;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1;
        padding: 0.25rem 0.375rem;
        position: absolute;
            left: 0.75rem;
            top: 0.75rem;
        text-transform: uppercase;
        z-index: 30;
    }

    .video {
        line-height: 1;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        transition: 0s !important;
        width: 100%;

        div {
            line-height: 1;
        }

        .cover {
            background-color: $grey-850;
            background-position: center 0;
            background-repeat: no-repeat;
            background-size: cover;
            border-top-left-radius: 0.375rem;
            border-top-right-radius: 0.375rem;
            height: 100%;
            overflow: hidden;
            position: absolute;
                left: 0;
                top: 0;
            transition: opacity 250ms ease;
            width: 100%;
            z-index: 20;
        }

        .player {
            height: 100%;
            position: absolute;
                left: 0;
                top: 0;
            width: 100%;
            z-index: 10;
        }

        .channel {
            filter: drop-shadow(0 0 0.5rem $black-100);
            height: 12%;
            max-height: 2.5rem;
            position: absolute;
                bottom: 0.7rem;
                right: 0.875rem;
            z-index: 30;
        }

        > button {
            background: none;
            display: flex;
                align-items: center;
                justify-content: center;
            height: 100%;
            outline: none;
            position: absolute;
                left: 0;
                top: 0;
            width: 100%;
            z-index: 40;

            svg {
                fill: $white-100;
                filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
                height: 20%;
                transition: transform 150ms ease;
                width: 20%;
            }

            @media (hover: hover) {
                &:hover {
                    svg {
                        transform: scale(1.1);
                    }
                }

                &:active {
                    svg {
                        fill: $grey-200;
                        transform: scale(1.05);
                        transition: 0s;
                    }
                }
            }
        }
    }

    .notification {
        background-color: $blue-100;
        display: flex;
            align-items: center;
            justify-content: space-between;
        font-weight: 600;
        min-height: 15%;
        padding: 0.75rem 1.25rem;
        position: absolute;
            bottom: 0;
            left: 0;
        transform: translateY(102%);
        width: 100%;
        will-change: transform;
        z-index: 50;

        &.show {
            transform: translateY(0);
            transition: transform 250ms ease;
        }

        button {
            background-color: rgba(0, 0, 0, 0.3);
            height: 90%;
                min-height: 2.5rem;
            margin-left: 1.5rem;
            padding: 0 1rem;
            position: relative;
            width: auto;

            &:active {
                background-color: rgba(0, 0, 0, 0.4);
            }

            svg {
                height: 1.25rem;
                margin-right: 0.55rem;
                width: 1.25rem;
            }
        }
    }

    .description {
        padding: 1rem 1rem 0.75rem;
        position: relative;
        width: 100%;

        .progress {
            background-color: $grey-700;
            overflow: hidden;
            position: absolute;
                left: 0;
                top: 0;
            height: 0.25rem;
            width: 100%;

            > .bar {
                background: $red-100;
                height: 100%;
                overflow: hidden;
                position: absolute;
                    left: 0;
                    top: 0;
                width: 0%;
            }
        }

        .title {
            display: block;
            font-size: 1.02rem;
            font-weight: 600;
            margin-bottom: 0.25rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .time {
            display: flex;
                align-items: center;

            svg {
                fill: none;
                height: 1rem;
                margin-right: 0.25rem;
                stroke: $white-100;
                width: 1rem;
            }
        }

        .meta {
            display: flex;
                align-items: center;
            font-size: 0.925rem;
            font-weight: 600;
            line-height: 1rem;
            margin-bottom: 0.2rem;
            text-transform: uppercase;

            > span {
                font-size: 0.8rem;
                font-weight: 400;

                &:not(:last-of-type):after {
                    content: '•';
                    margin: 0 0.5rem;
                }
            }

            .duration {
                display: inline-flex;
                    align-items: center;
                    justify-content: flex-end;
                flex-shrink: 0;
                text-transform: uppercase;
            }
        }
    }

    .preview {
        display: flex;
        height: 6rem;
        opacity: 0;
        padding: 0.75rem;
        pointer-events: none;
        position: absolute;
            bottom: 0;
            left: 0;
        transition: opacity 150ms ease;
        width: 100%;

        .cover {
            background-color: $grey-850;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 0.375rem;
            flex-shrink: 0;
            height: 100%;
            margin-right: 1rem;
            width: 24%;
                min-width: 5rem;
        }

        .details {
            overflow: hidden;
            width: 100%;

            > .container {
                position: relative;
            }

            .title {
                display: block;
                font-size: 0.95rem;
                font-weight: 600;
                margin: 0.15rem 0 0.1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .description, .channel {
                display: block;
                font-size: 0.875rem;
                margin-bottom: 0.275rem;
            }

            .cta {
                color: $white-100;
                display: flex;
                    align-items: center;
                font-size: 0.6875rem;
                font-weight: 700;
                margin: 0;
                padding: 0;
                text-transform: uppercase;

                svg {
                    fill: $red-100;
                    height: 0.75rem;
                    margin: 1px 0.5rem 0 0;
                    width: 0.75rem;
                }
            }
        }
    }

    &:after {
        border: 0.25rem solid $red-100;
        border-radius: 0.375rem;
        content: '';
        display: block;
        height: 100%;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
            left: 0;
            top: 0;
        transition: opacity 150ms ease;
        width: 100%;
        z-index: 50;
    }

    @media (hover: hover) {
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }

    @import "video/statuses";
    @import "video/types/preview";
    @import "video/types/stream";
    @import "video/types/recommended";
    @import "video/types/expanded";
}

@import "video/responsive";
@import "video/mobile";
