.pn-widget {
    display: block;
    position: relative;

    > .listings {
        position: relative;
        width: 100%;

        > .navigation button.navigation {
            height: 100%;

            &[data-direction="left"] {
                left: -4.5rem;
            }

            &[data-direction="right"] {
                right: -4.5rem;
            }
        }

        > .container {
            > .items {
                display: flex;
                    justify-content: space-between;
                position: relative;

                &:after {
                    content: '';
                    flex: auto;
                }
            }
        }
    }
}

@import "widget/types/guide";
@import "widget/types/category";
@import "widget/types/chapters";
