<template>
  <section data-type="article" class="wrapper">
    <aside data-type="recommended">
      <div class="listings">
        <div class="container">
          <div class="items">
            <Video
              v-for="channel in recommendedChannels"
              :key="channel.rid"
              :video="channel.currentPlay.video"
              :channel="channel"
              :start="channel.currentPlay.start"
              :end="channel.currentPlay.end"
              :href="`/channels/${channel.slug}`"
              type="recommended">
            </Video>
          </div>
        </div>
      </div>
    </aside>
    <article>
      <h3>Nude Body Painting (and nude artist's guide)</h3>
      <p>
        Body painting is a form of expression used by people who like to be
        naked to communicate feelings and ideas about the human body by using
        the body itself as the canvas. Such ideas may sometimes be of a sexual
        nature, but that is only a small part of the possible range of thoughts
        that can be expressed in this way.
      </p>
      <p>
        It shouldn't be very surprising that people who like to be naked also
        like to paint bodies or have their own painted. It is a fairly common
        pastime at nudist/naturist gatherings and events, and other festive
        occasions where naked people are found.
      </p>
      <p>
        A naked body makes a pretty good canvas for creative expression. In
        fact, the expanded possibilities for self expression that are possible
        when one doesn't wear clothes form one of the chief attractions of being
        naked for some people.
      </p>
      <p>
        What people who are interested in the body as an expressive medium have
        in common with those who just like to be naked is a certain attitude
        towards the body. An attitude that is more detached and objective than
        "normal". An attitude that accepts, without flinching, the body for what
        it is, and then uses it to realize new concepts of "corpo-reality".
      </p>
      <p>
        Is body painting an erotic thing? Clearly, it can be, just as certain
        choices in clothing can be erotic. However, it need not be any more
        erotic than other, non-erotic forms of appreciation of the body for its
        own sake.
      </p>
      <h4>My Personal Story</h4>
      <p>
        I was not born into a nudist family and therefore I was taught that one
        should not go around without their clothes on. Being nude in front of
        others was acceptable only in certain situations (Doctor's office,
        locker rooms, school showers, or other places where changing clothing
        was acceptable) and only for the short time it was required. One just
        did not walk around nude in mixed company.
      </p>
      <p>
        As a youngster I went to a summer camp that was run by my Father and
        once a week we had "Scrub". Normally we wore out bathing suits when we
        swam in the lake, but on "Scrub Day" we took soap to the lake and left
        our suits in the cabins. As this is the only way we could really wash,
        and because it was an all boys' camp, the required nudity was
        acceptable. Because I could not swim I did not like going to the lake at
        all. As far as I was concerned being being nude with the other boys was
        not the problem being at the lake was.
      </p>
      <p>
        A number of years later I finally learned how to swim and found swimming
        was much more enjoyable without wet clothing. Before the YMCA went co-ed
        I frequently swam nude there. I was sorry, at the time, when the Y
        changed its policy and required suits.
      </p>
      <p>
        I wanted to go SKINNY-DIPPING and I doing so in alone in a remote area
        was unsafe
      </p>
      <p>
        As there are not a lot of clothing optional beaches in Eastern
        Massachusetts (maybe some but they were hard to get to) I felt that my
        skinny-dips would be very few and very far between.
      </p>
      <p>
        One day I found out about a resort near me where one could swim suit
        free without hassle. I sent for the information.
      </p>
      <p>
        While I had never been uncomfortable being nude for short periods of
        time in places where it was expected, I had never gone around nude for
        an extended period of time and certainly not in mixed company.
      </p>
      <button class="button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"/>
        </svg>
      </button>
    </article>
  </section>
</template>

<script>
export default {
  data: () => ({
    channels: [],
  }),

  async fetch() {
    const channels = await fetch('https://capi.pn-internals.net/channels').then(
      (res) => res.json()
    )

    this.channels = channels
  },

  computed: {
    recommendedChannels() {
      return this.channels.slice(0, 5)
    },
  },
}
</script>

