<template>
  <div>
    <section class="banner">
      <div class="wrapper">
        <h2>
          <span>Watch Nudist Content</span>
          Over 60+ Live Channels
        </h2>
        <p>
          Stream exclusive nudist content 24/7 whenever and wherever you want
        </p>
      </div>
    </section>
    <CategoryRow
      v-for="category in recommendedCategories"
      :key="category.rid"
      :category="category"/>
  </div>
</template>

<script>
export default {
  data: () => ({
    categories: [],
  }),
  async fetch() {
    const categories = await fetch(
      'https://capi.pn-internals.net/categories'
    ).then((res) => res.json())

    this.categories = categories
  },
  computed: {
    recommendedCategories() {
      return this.categories.filter((category) => category.title !== 'Featured')
    },
  },
}
</script>


