<template>
  <div class="pn-widget" data-type="category" name="trending-now">
    <h2>{{ category.title }}</h2>
    <div class="listings">
      <div class="navigation">
        <button
          class="navigation"
          data-direction="left"
          type="button"
          @click="slidePrev()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="none"
            viewBox="0 0 20 20">
            <path
              fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd"/>
          </svg>
        </button>
        <button
          class="navigation"
          data-direction="right"
          type="button"
          @click="slideNext()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="none"
            viewBox="0 0 20 20">
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"/>
          </svg>
        </button>
      </div>
      <div ref="mySwiper" v-swiper:mySwiper="options" class="container">
        <div class="items swiper-wrapper">
          <Video
            v-for="channel in category.channels"
            :key="channel.rid"
            :video="channel.currentPlay.video"
            :channel="channel"
            :start="channel.currentPlay.start"
            :end="channel.currentPlay.end"
            :href="`/channels/${channel.slug}`"
            class="swiper-slide"></Video>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    category: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    options: {
      slidesPerView: 'auto',
      loop: true,
    },
  }),

  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper
    },
  },

  methods: {
    slideNext() {
      this.swiper.slideNext()
    },
    slidePrev() {
      this.swiper.slidePrev()
    },
  },
}
</script>


