<template>
  <div ref="mySwiper" v-swiper:mySwiper="options" class="container">
    <div class="items swiper-wrapper">
      <div
        v-for="(programmed, key) in schedule"
        :key="key"
        class="pn-schedule swiper-slide">
        <div class="items">
          <Video
            :video="programmed.video"
            :channel="channel"
            :start="programmed.start"
            :end="programmed.end"
            :href="`/videos/${programmed.video.hash}`"
            type="expanded"></Video>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    channel: {
      type: Object,
      required: true,
    },
  },

  data: () => {
    return {
      options: {
        slidesPerView: 'auto',
        centeredSlides: false,
        loop: false,
      },
      now: new Date(),
      schedule: [],
    }
  },

  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper
    },

    shouldSlide() {
      return new Date(this.schedule[0].end) < this.now
    },
  },

  watch: {
    now: {
      async handler() {
        if(this.shouldSlide) {
          this.slide()
          await this.sleep(300)
          this.removeOld()
          await this.updateSchedule()
        }
      },
    },
  },

  created() {
    setInterval(() => {
      this.now = new Date()
    }, 1000)
  },

  mounted() {
    this.schedule = [this.channel.currentPlay, ...this.channel.onDeck]
  },

  methods: {
    slide() {
      this.swiper.slideNext()
    },

    removeOld() {
      this.schedule.splice(0, 1)
    },

    sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    },

    async updateSchedule() {
      const newSchedule = await fetch(`https://capi.pn-internals.net/channels/${this.channel.slug}/schedule`).then(
       (res) => res.json()
      )

      this.schedule = this.schedule.concat(newSchedule[3])
    },
  },
}
</script>


