<template>
  <div :data-channel="activeChannel.slug" class="pn-player wrapper">
    <header>
      <div class="container">
        <div class="channels">
          <button class="navigation channel-player-navigation-left" data-direction="left">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              stroke="none"
              viewBox="0 0 20 20">
              <path
                fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd"/>
            </svg>
          </button>
          <div v-swiper:mySwiper="options" class="items">
            <ul class="swiper-wrapper">
              <li v-for="(channel, key) in globalStore.channels" :key="channel.rid" class="swiper-slide">
                <a
                  :key="channel.slug"
                  :class="{ active: channel.slug == activeChannel.slug }"
                  :href="`/channels/${channel.slug}`">
                  <div :data-channel="channel.slug" class="channel logo">
                    <img :src="channel.logo" :alt="key" />
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <button class="navigation channel-player-navigation-right" data-direction="right">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              stroke="none"
              viewBox="0 0 20 20">
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"/>
            </svg>
          </button>
        </div>
      </div>
    </header>
    <main>
      <Video
        :video="activeChannel.currentPlay.video"
        :channel="activeChannel"
        :start="activeChannel.currentPlay.start"
        :end="activeChannel.currentPlay.end"
        type="stream">
      </Video>
      <aside>
        <h2>{{ activeChannel.currentPlay.video.title }}</h2>
        <div class="meta">
          <span class="time">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>{{ startDateFormatted }}</span>
          </span>
          <span class="duration">{{ durationFormatted }}</span>
        </div>
        <div class="container">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
            ducimus omnis repellendus, laboriosam optio quam tempore ipsam iusto
            adipisci, consequatur enim, inventore sed temporibus magni officiis
            reprehenderit nulla quo aliquam.
          </p>
          <div class="cta">
            <button data-type="credit" class="button" @click="slideTo(9)">Try for $0.00</button>
            <button data-type="purchase" class="button light-grey">
              Buy for $59.95
            </button>
          </div>
        </div>
      </aside>
    </main>
    <footer>
      <div data-type="guide" class="pn-widget">
        <div class="listings">
          <div class="navigation">
            <button class="navigation" data-direction="left">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                stroke="none"
                viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
            <button class="navigation" data-direction="right">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                stroke="none"
                viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </footer>
  <ChannelPlayerSchedule :channel="activeChannel" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      options: {
        slidesPerView: 'auto',
        centeredSlides: true,
        loop: true,
        navigation: {
          nextEl: '.channel-player-navigation-right',
          prevEl: '.channel-player-navigation-left',
        },
      },
      isConnected: false,
    }
  },
  computed: {
    activeChannel() {
      return this.$store.state.activeChannel
    },

    end() {
      return new Date(this.activeChannel.currentPlay.end)
    },

    start() {
      return new Date(this.activeChannel.currentPlay.start)
    },

    durationFormatted() {
      return this.formatDuration(this.end - this.start)
    },

    startDateFormatted() {
      return this.formatDate(this.start)
    },
  },

  sockets: {
    connect() {
      this.isConnected = true
    },
    disconnect() {
      this.isConnected = false
    },
  },

  watch: {
    '$store.state.activeChannel': {
      handler(state, prevState) {
        this.$socket.emit('leave', prevState.rid)
        this.$socket.emit('join', state.rid)
        console.log('Left %s, Joined %s', prevState.rid, state.rid)
      },
    },
  },

  mounted() {
    this.slideToPosition()
    this.$socket.emit('join', this.activeChannel.rid)
    this.sockets.subscribe('pn:schedule-update', data => {
      if (this.activeChannel.rid === data.rid) {
        this.$store.dispatch('updateChannelSchedule', data)
      }
    })
  },

  // beforeCreate() {
  //   console.log('beforeCreate')
  // },

  // created() {
  //   console.log('created')
  // },

  beforeUnmount() {
    this.$socket.emit('leave', this.activeChannel.rid)
    this.sockets.unsubscribe('pn:schedule-update')
  },

  // unmounted() {
  //   console.log('unmounted')
  // },

  // beforeUpdate() {
  //   console.log('beforeUpdate')
  // },

  // updated() {
  //   console.log('updated')
  // },

  methods: {
    slideToPosition() {
      if (this.$store.state.device.isMobile) {
        this.mySwiper.destroy()
      } else {
        Object.keys(this.$store.state.channels).forEach(key => {
          if (this.$store.state.channels[key].slug === this.activeChannel.slug) {
            this.mySwiper.slideTo(key)
          }
        })
      }
    },

    getHoursMinutesAndSeconds(time) {
      const hours = Math.floor(
        (time % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
      )
      const minutes = Math.floor((time % (1000 * 60 * 60)) / (1000 * 60))
      const seconds = Math.floor((time % (1000 * 60)) / 1000)

      return [hours, minutes, seconds]
    },

    formatDate(date) {
      const hours = date.getHours()
      const hoursFormatted =
        hours > 12
          ? (hours - 12).toString().padStart(2, '0')
          : hours.toString().padStart(2, '0')
      const minutes = date.getMinutes().toString().padStart(2, '0')
      const meridiem = date.getHours() > 12 ? 'PM' : 'AM'

      return `${hoursFormatted}:${minutes} ${meridiem}`
    },
    formatDuration(duration) {
      const [hours, minutes] = this.getHoursMinutesAndSeconds(duration)
      const hoursFormatted = `${hours} hr`
      const minutesFormatted = `${minutes} min`

      return `${hours > 0 ? `${hoursFormatted} ` : ''}${
        minutes > 0 ? minutesFormatted : ''
      }`
    },

    slideTo(id) {
      this.mySwiper.slideTo(id, 1000, true)
    },
    slidePrev() {
      this.mySwiper.slidePrev()
      this.mySwiper.slidePrev()
    },

  },

  // mounted() {
  //   if (this.globalStore.channels.length === 0) {
  //     this.globalStore.fetchChannels()
  //   }
  // },

  // async fetch() {
  //   const channels = await fetch('https://capi.pn-internals.net/channels').then(
  //     (res) => res.json()
  //   )

  //   this.channels = channels
  // },
}
</script>

