<template>
  <div class="wrapper pn-widget" data-type="guide" data-collapsed="true">
    <div class="title">
      <div class="bar"></div>
      <span class="content">Select A Channel</span>
      <div class="bar"></div>
    </div>
    <div class="listings">
      <div class="navigation">
        <button class="navigation swiper-button-prev-channel-listings" data-direction="left">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="none"
            viewBox="0 0 20 20">
            <path
              fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd"/>
          </svg>
        </button>
        <button class="navigation swiper-button-next-channel-listings" data-direction="right">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="none"
            viewBox="0 0 20 20">
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"/>
          </svg>
        </button>
      </div>
      <div v-swiper:mySwiper="options" class="container">
        <div class="items swiper-wrapper">
          <div
            v-for="channel in channels"
            :key="channel.rid"
            class="pn-schedule swiper-slide"
            :data-channel="channel.slug">
            <div class="items">
              <Video
                :video="channel.currentPlay.video"
                :channel="channel"
                :start="channel.currentPlay.start"
                :end="channel.currentPlay.end"
                type="expanded"
                :href="`/channels/${channel.slug}`">
              </Video>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    channels: [],
    options: {
      slidesPerView: 'auto',
      loop: true,
      navigation: {
          nextEl: '.swiper-button-next-channel-listings',
          prevEl: '.swiper-button-prev-channel-listings',
        },
    },
    navigator: '',
  }),
  async fetch() {
    const channels = await fetch('https://capi.pn-internals.net/channels').then(
      (res) => res.json()
    )

    this.channels = channels
  },
  mounted() {
    const isMobile = /android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(
      navigator.userAgent.toLowerCase()
    )

    if (isMobile) {
      this.mySwiper.destroy()
    }
  },
}
</script>

<style>
</style>
