<template>
  <div class="streams">
    <div class="items">
      <Video
        v-for="video in videos"
        :key="video.video.rid"
        :video="video.video"
        :channel="video.channel"
        :start="video.start"
        :end="video.end"
        :href="`/channels/${video.channel.slug}`"
        type="stream"/>
      <Video
        v-for="video in videos"
        :key="video.video.rid"
        :video="video.video"
        :channel="video.channel"
        :start="video.start"
        :end="video.end"
        :href="`/channels/${video.channel.slug}`"
        type="stream"/>
      <Video
        v-for="video in videos"
        :key="video.video.rid"
        :video="video.video"
        :channel="video.channel"
        :start="video.start"
        :end="video.end"
        :href="`/channels/${video.channel.slug}`"
        type="stream"/>
      <Video
        v-for="video in videos"
        :key="video.video.rid"
        :video="video.video"
        :channel="video.channel"
        :start="video.start"
        :end="video.end"
        :href="`/channels/${video.channel.slug}`"
        type="stream"/>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    channels: [],
    videos: [],
  }),
  async fetch() {
    const channels = await fetch(
      'https://capi.pn-internals.net/categories/featured'
    ).then((res) => res.json())

    this.channels = channels.channels
    this.videos = this.channels.map((channel) => {
      return { ...channel.currentPlay, channel }
    })
  },
}
</script>


