<template>
  <footer>
    <div class="wrapper">
      <div class="menu">
        <a>About Us</a><a>Legal Notice</a><a>Contact Support</a><a>Join</a>
      </div>
      <div class="links">
        <a>Nudist Pictures</a><a>2021 HD Nudist Videos</a><a>Nudist Theater</a><a>Photo Events</a><a>Nudist Pageants</a><a>Free Nudist DVDs</a><a>Webmasters</a><a>Online Store</a>
      </div>
      <p>
        <strong>LEGAL NOTE:</strong> The naturist photo and video documentaries
        that we offer are legal in every city, every state and every county
        inside the United States. They are protected by the First Amendment and
        are not subject to local obscenity laws or ordinances. The depiction of
        adults and children nude in the visual media has enjoyed constitutional
        protection in the United States since 1958, when the Supreme Court
        vacated a Court of Appeals finding that Sunshine& Health magazine could
        be obscene (Sunshine Book Co. v. Summerfield, Postmaster General, 355
        U.S. 372). The right to depict adults and children in innocent nude
        poses has been upheld without a pause for 41 years. In case after case,
        the Supreme Court and lower courts have always upheld the
        constitutionality of "nudity without more," specifically referring to
        the nudist depiction as a fully constitutional form of expression. Our
        website is widely visited in all of Asia, Europe, South America, Canada,
        Australia and Africa. The only exception may be countries where nudity
        of any kind is banned. Related Naturist Tags: Free Nudism, Nudist, Nude,
        Pictures, Videos, Images, Gallery, Nudist Family, Lifestyle, Free Nudist
        DVDs, Nude Contests, Clips, Download, Tour, Join, Naturist Pictures,
        Outdoor, Naked Sports, Society, About, Legal
      </p>
      <div class="copyright">
        © 2001-2021 PureNudism.com. All Rights Reserved. Any Unauthorized
        Distribution of Our Material is Strictly Prohibited and Legally
        Prosecuted.
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
}
</script>


