<template>
  <header>
    <div class="bar">
      <div class="wrapper">
        <div class="container members">
          <a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="none"
              stroke="none">
              <path
                d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"/>
              <path
                d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"/>
            </svg>
            Members Area
          </a>
          <span>408,398<strong>Photos</strong></span>
          <span>8,709<strong>Videos</strong></span>
          <span>32<strong>Channels</strong></span>
        </div>
        <div class="container visitors">
          <span class="blinking-dot"></span><span class="count">852</span> Visitors Online
        </div>
      </div>
    </div>
    <div class="body">
      <div class="wrapper">
        <div class="container">
          <div class="logo">
            <a>
              <img
                src="~/assets/img/logos/purenudism-live-logo.svg"
                alt="PureNudism Live"/>
            </a>
          </div>
          <div class="links">
            <div class="close hidden">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"/>
              </svg>
            </div>
            <ul>
              <li class="hidden"><a>Home</a></li>
              <li class="hidden">
                <a>
                  <svg
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 174.025 63.336"
                    enable-background="new 0 0 174.025 63.336"
                    xml:space="preserve"
                    fill="none"
                    stroke="none">
                    <path
                      fill="#ED1C24"
                      d="M139.92,17.228c-0.692,0.155-1.283,0.57-1.664,1.169c-0.271,0.427-0.413,0.918-0.413,1.421 c0,0.916,0.461,1.756,1.233,2.246c3.306,2.1,5.279,5.688,5.279,9.604c0,3.915-1.974,7.506-5.279,9.604 c-0.772,0.49-1.233,1.33-1.233,2.246c0,0.503,0.143,0.994,0.413,1.421c0.381,0.601,0.972,1.015,1.664,1.169 c0.692,0.155,1.404,0.031,2.004-0.349c4.851-3.078,7.746-8.346,7.746-14.091s-2.896-11.013-7.746-14.091 C141.324,17.197,140.612,17.073,139.92,17.228"/>
                    <path
                      fill="#ED1C24"
                      d="M147.38,8.354c-0.692,0.155-1.283,0.57-1.663,1.169c-0.272,0.427-0.414,0.918-0.414,1.421 c0,0.917,0.461,1.756,1.233,2.246c6.36,4.037,10.158,10.945,10.158,18.479s-3.798,14.44-10.158,18.478 c-0.772,0.49-1.233,1.33-1.233,2.246c0,0.503,0.142,0.994,0.414,1.421c0.38,0.6,0.971,1.015,1.663,1.169 c0.692,0.155,1.404,0.031,2.004-0.349c7.905-5.018,12.625-13.603,12.625-22.965c0-9.363-4.72-17.948-12.625-22.964 C148.784,8.323,148.072,8.199,147.38,8.354"/>
                    <path
                      fill="#ED1C24"
                      d="M156.844,0.415c-0.6-0.38-1.311-0.504-2.003-0.35c-0.693,0.155-1.284,0.57-1.664,1.17 c-0.271,0.427-0.414,0.918-0.414,1.421c0,0.916,0.461,1.756,1.233,2.246c9.215,5.847,14.716,15.853,14.716,26.766 c0,10.914-5.501,20.92-14.716,26.768c-0.772,0.49-1.233,1.33-1.233,2.246c0,0.503,0.143,0.994,0.414,1.421 c0.38,0.599,0.971,1.014,1.664,1.169c0.692,0.155,1.403,0.031,2.003-0.35c5.463-3.466,9.918-8.259,12.886-13.861 c2.811-5.305,4.296-11.32,4.296-17.393c0-6.072-1.485-12.086-4.296-17.392C166.762,8.673,162.307,3.881,156.844,0.415"/>
                    <path
                      fill="#ED1C24"
                      d="M34.106,17.228c0.693,0.155,1.284,0.57,1.664,1.169c0.271,0.427,0.414,0.918,0.414,1.421 c0,0.916-0.461,1.756-1.234,2.246c-3.306,2.1-5.28,5.688-5.28,9.604c0,3.915,1.974,7.506,5.28,9.604 c0.773,0.49,1.234,1.33,1.234,2.246c0,0.503-0.143,0.994-0.414,1.421c-0.38,0.601-0.971,1.015-1.664,1.169 c-0.692,0.155-1.404,0.031-2.003-0.349c-4.851-3.078-7.747-8.346-7.747-14.091s2.896-11.013,7.747-14.091 C32.702,17.197,33.414,17.073,34.106,17.228"/>
                    <path
                      fill="#ED1C24"
                      d="M26.646,8.354c0.692,0.155,1.283,0.57,1.664,1.169c0.271,0.427,0.413,0.918,0.413,1.421 c0,0.917-0.461,1.756-1.233,2.246c-6.361,4.037-10.158,10.945-10.158,18.479s3.797,14.44,10.158,18.478 c0.773,0.49,1.233,1.33,1.233,2.246c0,0.503-0.142,0.994-0.413,1.421c-0.381,0.6-0.972,1.015-1.664,1.169 c-0.692,0.155-1.404,0.031-2.003-0.349c-7.906-5.018-12.625-13.603-12.625-22.965c0-9.363,4.719-17.948,12.625-22.964 C25.242,8.323,25.954,8.199,26.646,8.354"/>
                    <path
                      fill="#ED1C24"
                      d="M17.182,0.415c0.6-0.38,1.311-0.504,2.003-0.35c0.693,0.155,1.284,0.57,1.664,1.17 c0.271,0.427,0.414,0.918,0.414,1.421c0,0.916-0.461,1.756-1.233,2.246C10.815,10.749,5.314,20.754,5.314,31.667 c0,10.914,5.501,20.92,14.716,26.768c0.772,0.49,1.233,1.33,1.233,2.246c0,0.503-0.143,0.994-0.414,1.421 c-0.38,0.599-0.971,1.014-1.664,1.169c-0.692,0.155-1.403,0.031-2.003-0.35c-5.463-3.466-9.918-8.259-12.885-13.861 C1.486,43.755,0,37.74,0,31.667c0-6.072,1.486-12.086,4.297-17.392C7.264,8.673,11.72,3.881,17.182,0.415"/>
                    <rect x="-186.452" y="-106.173" fill="none" />
                    <g>
                      <path
                        class="text"
                        d="M68.442,44.271H53.431V19.064h5.678v20.602h9.334V44.271z"/>
                      <path
                        class="text"
                        d="M77.513,44.271h-5.678V19.064h5.678V44.271z"/>
                      <path
                        class="text"
                        d="M104.231,19.064l-8.684,25.207h-6.434l-8.578-25.207h6.117l5.256,17.543 c0.281,0.949,0.451,1.787,0.51,2.514h0.105c0.082-0.785,0.264-1.646,0.545-2.584l5.221-17.473H104.231z"/>
                      <path
                        class="text"
                        d="M122.372,44.271h-15.117V19.064h14.537v4.623h-8.859v5.607h8.244V33.9h-8.244v5.766h9.439V44.271z"/>
                    </g>
                  </svg>
                </a>
              </li>
              <li class="hidden"><a>Free Gallery</a></li>
              <li class="hidden"><a>Pictures</a></li>
              <li class="hidden"><a>Videos</a></li>
              <li class="hidden"><a>HD Theater</a></li>
              <li class="hidden"><a>Pageants &amp; Contests</a></li>
              <li class="hidden"><a>Free DVDs</a></li>
              <li data-target="about-us"><a title="About Us">About Us</a></li>
              <li data-target="legal-note">
                <a title="Legal Note">Legal Note</a>
              </li>
              <li data-target="support"><a title="Support">Support</a></li>
              <li data-target="login"><a title="Login">Login</a></li>
            </ul>
            <button class="menu button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"/>
              </svg>
              Menu
            </button>
            <a class="button" title="Free Account">Free Account</a>
          </div>
        </div>
        <nav id="nav">
          <button class="navigation header-navigation-left" data-direction="left">
            <svg
              viewBox="286.375 99 227.25 401.625"
              enable-background="new 286.375 99 227.25 401.625">
              <g>
                <path
                  d="M487,500.625L286.375,300L487,99l26.625,26.625L339.25,300l174.375,174.375L487,500.625z"/>
              </g>
            </svg>
          </button>
          <div v-swiper:mySwiper="options" class="container">
            <ul class="swiper-wrapper">
              <li data-target="home" class="swiper-slide" style="width: auto;"><a>Home</a></li>
              <li class="active swiper-slide" data-target="live">
                <NuxtLink to="/live">
                  <svg
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 174.025 63.336"
                    enable-background="new 0 0 174.025 63.336"
                    xml:space="preserve"
                    fill="none"
                    stroke="none">
                    <path
                      fill="#ED1C24"
                      d="M139.92,17.228c-0.692,0.155-1.283,0.57-1.664,1.169c-0.271,0.427-0.413,0.918-0.413,1.421 c0,0.916,0.461,1.756,1.233,2.246c3.306,2.1,5.279,5.688,5.279,9.604c0,3.915-1.974,7.506-5.279,9.604 c-0.772,0.49-1.233,1.33-1.233,2.246c0,0.503,0.143,0.994,0.413,1.421c0.381,0.601,0.972,1.015,1.664,1.169 c0.692,0.155,1.404,0.031,2.004-0.349c4.851-3.078,7.746-8.346,7.746-14.091s-2.896-11.013-7.746-14.091 C141.324,17.197,140.612,17.073,139.92,17.228"/>
                    <path
                      fill="#ED1C24"
                      d="M147.38,8.354c-0.692,0.155-1.283,0.57-1.663,1.169c-0.272,0.427-0.414,0.918-0.414,1.421 c0,0.917,0.461,1.756,1.233,2.246c6.36,4.037,10.158,10.945,10.158,18.479s-3.798,14.44-10.158,18.478 c-0.772,0.49-1.233,1.33-1.233,2.246c0,0.503,0.142,0.994,0.414,1.421c0.38,0.6,0.971,1.015,1.663,1.169 c0.692,0.155,1.404,0.031,2.004-0.349c7.905-5.018,12.625-13.603,12.625-22.965c0-9.363-4.72-17.948-12.625-22.964 C148.784,8.323,148.072,8.199,147.38,8.354"/>
                    <path
                      fill="#ED1C24"
                      d="M156.844,0.415c-0.6-0.38-1.311-0.504-2.003-0.35c-0.693,0.155-1.284,0.57-1.664,1.17 c-0.271,0.427-0.414,0.918-0.414,1.421c0,0.916,0.461,1.756,1.233,2.246c9.215,5.847,14.716,15.853,14.716,26.766 c0,10.914-5.501,20.92-14.716,26.768c-0.772,0.49-1.233,1.33-1.233,2.246c0,0.503,0.143,0.994,0.414,1.421 c0.38,0.599,0.971,1.014,1.664,1.169c0.692,0.155,1.403,0.031,2.003-0.35c5.463-3.466,9.918-8.259,12.886-13.861 c2.811-5.305,4.296-11.32,4.296-17.393c0-6.072-1.485-12.086-4.296-17.392C166.762,8.673,162.307,3.881,156.844,0.415"/>
                    <path
                      fill="#ED1C24"
                      d="M34.106,17.228c0.693,0.155,1.284,0.57,1.664,1.169c0.271,0.427,0.414,0.918,0.414,1.421 c0,0.916-0.461,1.756-1.234,2.246c-3.306,2.1-5.28,5.688-5.28,9.604c0,3.915,1.974,7.506,5.28,9.604 c0.773,0.49,1.234,1.33,1.234,2.246c0,0.503-0.143,0.994-0.414,1.421c-0.38,0.601-0.971,1.015-1.664,1.169 c-0.692,0.155-1.404,0.031-2.003-0.349c-4.851-3.078-7.747-8.346-7.747-14.091s2.896-11.013,7.747-14.091 C32.702,17.197,33.414,17.073,34.106,17.228"/>
                    <path
                      fill="#ED1C24"
                      d="M26.646,8.354c0.692,0.155,1.283,0.57,1.664,1.169c0.271,0.427,0.413,0.918,0.413,1.421 c0,0.917-0.461,1.756-1.233,2.246c-6.361,4.037-10.158,10.945-10.158,18.479s3.797,14.44,10.158,18.478 c0.773,0.49,1.233,1.33,1.233,2.246c0,0.503-0.142,0.994-0.413,1.421c-0.381,0.6-0.972,1.015-1.664,1.169 c-0.692,0.155-1.404,0.031-2.003-0.349c-7.906-5.018-12.625-13.603-12.625-22.965c0-9.363,4.719-17.948,12.625-22.964 C25.242,8.323,25.954,8.199,26.646,8.354"/>
                    <path
                      fill="#ED1C24"
                      d="M17.182,0.415c0.6-0.38,1.311-0.504,2.003-0.35c0.693,0.155,1.284,0.57,1.664,1.17 c0.271,0.427,0.414,0.918,0.414,1.421c0,0.916-0.461,1.756-1.233,2.246C10.815,10.749,5.314,20.754,5.314,31.667 c0,10.914,5.501,20.92,14.716,26.768c0.772,0.49,1.233,1.33,1.233,2.246c0,0.503-0.143,0.994-0.414,1.421 c-0.38,0.599-0.971,1.014-1.664,1.169c-0.692,0.155-1.403,0.031-2.003-0.35c-5.463-3.466-9.918-8.259-12.885-13.861 C1.486,43.755,0,37.74,0,31.667c0-6.072,1.486-12.086,4.297-17.392C7.264,8.673,11.72,3.881,17.182,0.415"/>
                    <rect x="-186.452" y="-106.173" fill="none" />
                    <g>
                      <path
                        class="text"
                        d="M68.442,44.271H53.431V19.064h5.678v20.602h9.334V44.271z"/>
                      <path
                        class="text"
                        d="M77.513,44.271h-5.678V19.064h5.678V44.271z"/>
                      <path
                        class="text"
                        d="M104.231,19.064l-8.684,25.207h-6.434l-8.578-25.207h6.117l5.256,17.543 c0.281,0.949,0.451,1.787,0.51,2.514h0.105c0.082-0.785,0.264-1.646,0.545-2.584l5.221-17.473H104.231z"/>
                      <path
                        class="text"
                        d="M122.372,44.271h-15.117V19.064h14.537v4.623h-8.859v5.607h8.244V33.9h-8.244v5.766h9.439V44.271z"/>
                    </g>
                  </svg>
                </NuxtLink>
              </li>
              <li data-target="free-gallery" class="swiper-slide"><a>Free Gallery</a></li>
              <li data-target="pictures" class="swiper-slide"><a>Pictures</a></li>
              <li data-target="videos" class="swiper-slide"><a>Videos</a></li>
              <li data-target="hd-theater" class="swiper-slide"><a>HD Theater</a></li>
              <li data-target="pageants-contests" class="swiper-slide">
                <a>Pageants &amp; Contests</a>
              </li>
              <li data-target="free-dvds" class="swiper-slide" ><a>Free DVDs</a></li>
            </ul>
          </div>
          <button class="navigation header-navigation-right" data-direction="right">
            <svg
              viewBox="286.375 99 227.25 401.625"
              enable-background="new 286.375 99 227.25 401.625">
              <g>
                <path
                  d="M286.375,474.375L460.75,300L286.375,125.625L313,99l200.625,201L313,500.625L286.375,474.375z"/>
              </g>
            </svg>
          </button>
        </nav>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header',
  data: () => ({
    options: {
      slidesPerView: 'auto',
      centeredSlides: false,
      loop: false,
      navigation: {
        nextEl: '.header-navigation-right',
        prevEl: '.header-navigation-left',
      },
    },
  }),
}
</script>
