<template>
  <section class="hero wrapper">
    <FeaturedChannels />
    <div class="content">
      <h1><span>Welcome to</span> PureNudism Live</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris.
      </p>
      <div class="buttons">
        <a class="account button">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="152.443 136.417 207.114 239.166"
            enable-background="new 152.443 136.417 207.114 239.166"
            xml:space="preserve"
            fill="none"
            stroke="none">
            <path
              d="M152.443,136.417L359.557,255.99L152.443,375.583V136.417z"></path>
          </svg>
          Free Account
        </a>
        <a class="channels button grey">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="none"
            viewBox="0 0 24 24">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
          Channels
        </a>
      </div>
    </div>
  </section>
</template>

<script>
import FeaturedChannels from './FeaturedChannels.vue'
export default { components: { FeaturedChannels } }
</script>


