<template>
  <div class="pn-player wrapper">
    <main>
      <Video :video="activeVideo" :cover="activeCover" type="stream"></Video>
      <div data-type="chapters" class="pn-widget">
        <div class="listings">
          <div class="navigation">
            <button class="navigation" data-direction="left">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                stroke="none"
                viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
            <button class="navigation" data-direction="right">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                stroke="none"
                viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <aside>
        <h2>{{ activeVideo.title }}</h2>
        <div class="meta">
          <span class="time">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>{{ durationFormatted }}</span>
          </span>
        </div>
        <div class="container">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
            ducimus omnis repellendus, laboriosam optio quam tempore ipsam iusto
            adipisci, consequatur enim, inventore sed temporibus magni officiis
            reprehenderit nulla quo aliquam.
          </p>
          <div class="cta">
            <button data-type="credit" class="button">Buy with 1 credit</button>
            <button data-type="purchase" class="button light-grey">
              Buy for $59.95
            </button>
          </div>
        </div>
      </aside>
    </main>
    <footer>
      <div data-type="chapters" class="pn-widget">
        <div class="listings">
          <div class="navigation">
            <button class="navigation video-player-navigation-left" data-direction="left">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                stroke="none"
                viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
            <button class="navigation video-player-navigation-right" data-direction="right">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                stroke="none"
                viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
          <div v-swiper:mySwiper="options" class="container">
            <div class="items swiper-wrapper">
              <div
                v-for="chapter in chapters"
                :key="chapter.id"
                data-timestamp=""
                :data-cover="chapter.cover"
                class="pn-chapter swiper-slide">
                <div
                  class="cover"
                 :style="{ backgroundImage: `url(${chapter.cover})` }"
                 @click="activeCover = chapter.cover"
                 @mouseover="activeCover = chapter.cover"></div>
                <div class="timestamp">{{ chapter.duration }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  props: {
    activeVideo: {
      type: Object,
      required: true,
    },
  },

  data: () => ({
    options: {
      slidesPerView: 'auto',
      centeredSlides: false,
      loop: false,
      navigation: {
        nextEl: '.video-player-navigation-right',
        prevEl: '.video-player-navigation-left',
      },
    },
    activeCover: '',
  }),

  computed: {
    durationFormatted() {
      return this.formatDuration(this.activeVideo.duration)
    },
    chapters() {
      const chapters = []

      for (let index = 0; index < 59; index++) {
        chapters.push({
          id: index + 1,
          title: `Chapter ${index + 1}`,
          duration: `00:${(index + 1).toLocaleString('en-US', {
            minimumIntegerDigits: 2,
            useGrouping: false,
          })}:00`,
          cover: `http://placehold.jp/3d4070/ffffff/800x450.png?text=cover${index + 1}`,
        })
      }

      return chapters
    },
  },

  methods: {
    getHoursMinutesAndSeconds(time) {
      const hours = Math.floor((time % (60 * 60 * 24)) / (60 * 60))
      const minutes = Math.floor((time % (60 * 60)) / 60)
      const seconds = Math.floor(time % 60)

      return [hours, minutes, seconds]
    },

    formatDuration(duration) {
      const [hours, minutes] = this.getHoursMinutesAndSeconds(duration)
      const hoursFormatted = `${hours} hr`
      const minutesFormatted = `${minutes} min`

      return `${hours > 0 ? `${hoursFormatted} ` : ''}${
        minutes > 0 ? minutesFormatted : ''
      }`
    },
  },
}
</script>

<style>

</style>
