<template>
  <div :data-type="type" :data-status="videoStatus" class="pn-video">
    <NuxtLink :to="href">
      <div v-if="type != 'recommended'" class="video" @click="showNotification">
        <div
          class="cover"
          :style="{ backgroundImage: `url(${activeCover})` }"></div>
        <div class="player"></div>
        <div v-if="channel" class="status">
          <span v-if="startsIn">{{ startsIn }}</span>
        </div>
        <div v-if="channel" class="channel logo">
          <img :src="channel.logo" :alt="`logo-${channel.title}`" />
        </div>
        <button class="play">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 57.738">
            <path d="M0,0l50,28.866L0,57.738V0z" />
          </svg>
        </button>
      </div>
      <div v-if="type != 'expanded' && type != 'recommended' && channel" class="description">
        <div class="progress">
          <div class="bar" :style="{ width: styleWidth }"></div>
        </div>
        <div class="title">{{ video.title }}</div>
        <div class="meta">
          <span class="time">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>{{ startDateFormatted }}</span>
          </span>
          <span class="duration">{{ durationFormatted }}</span>
        </div>
      </div>
      <div v-if="type == 'expanded' && channel" class="description">
        <div class="title">{{ video.title }}</div>
        <div class="time">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
          <span>{{ startDateFormatted }}</span>
        </div>
        <button class="button">Watch On Demand</button>
        <div class="progress">
          <div class="bar" :style="{ width: styleWidth }"></div>
        </div>
        <div class="meta">
          <span class="duration">{{ durationFormatted }}</span>
          <span class="channel">{{
            channel.title.length > 15
              ? channel.title.substring(0, 15) + "..."
              : channel.title
          }}</span>
        </div>
      </div>
      <div v-if="type == 'recommended' && channel" class="preview">
        <div class="cover"></div>
        <div class="details">
          <span class="title">{{ video.title }}</span>
          <div class="container">
            <span class="channel logo"><img :src="channel.logo" :alt="`${(channel.title).slice(0, 10)}...`" /></span>
            <span class="status"></span>
          </div>
        </div>
      </div>
      <div v-else class="preview">
        <div class="cover"></div>
        <div class="details">
          <span class="title">{{ video.title }}</span>
          <div class="container">
            <span class="channel"></span>
            <span class="cta">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="152.443 136.417 207.114 239.166">
                <path
                  d="M152.443,136.417L359.557,255.99L152.443,375.583V136.417z"></path>
              </svg>
              Watch Preview
            </span>
          </div>
        </div>
      </div>
      <div
        v-if="type == 'stream' && channel"
        class="notification"
        :class="{ show: show }">
        <span class="message">To get full stream access, please unlock this channel</span>
        <button class="button" @click="showModal">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor">
            <path
              d="M10 2a5 5 0 00-5 5v2a2 2 0 00-2 2v5a2 2 0 002 2h10a2 2 0 002-2v-5a2 2 0 00-2-2H7V7a3 3 0 015.905-.75 1 1 0 001.937-.5A5.002 5.002 0 0010 2z"/>
          </svg>
          Click Here to Unlock Channel
        </button>
      </div>
    </NuxtLink>
  </div>
</template>

<script>

export default {

  props: {
    video: {
      type: Object,
      required: true,
    },
    channel: {
      type: Object,
      required: false,
      default: null,
    },
    start: {
      type: String,
      required: false,
      default: null,
    },
    end: {
      type: String,
      required: false,
      default: null,
    },
    type: {
      type: String,
      required: false,
      default: null,
    },
    href: {
      type: String,
      required: false,
      default: '',
    },
    cover: {
      type: String,
      required: false,
      default: null,
    },
  },

  data() {
    return {
      startDate: new Date(this.start),
      endDate: new Date(this.end),
      now: new Date(),
      show: false,
    }
  },

  computed: {
    activeCover() {
      return this.cover || this.video.covers[0] || '/img/backgrounds/1.jpg'
    },

    videoStatus() {
      if (this.isLive) {
        return 'live'
      }
      if (this.isScheduled) {
        return 'scheduled'
      }
      if (this.isEnded) {
        return 'ended'
      }
      return 'unknown'
    },
    timeElapsed() {
      return this.now - this.startDate
    },
    duration() {
      return this.endDate - this.startDate
    },
    progress() {
      return Math.floor((this.timeElapsed / this.duration) * 100)
    },
    current() {
      return this.timeElapsed < 0 ? 0 : this.progress
    },
    styleWidth() {
      return `${this.current >= 100 ? 100 : this.current}%`
    },
    isLive() {
      return this.now >= this.startDate && this.now <= this.endDate
    },
    isEnded() {
      return this.now > this.endDate
    },
    isScheduled() {
      return this.now < this.startDate
    },
    startDateFormatted() {
      return this.formatDate(this.startDate)
    },
    endDateFormatted() {
      return this.formatDate(this.endDate)
    },
    durationFormatted() {
      return this.formatDuration(this.endDate - this.startDate)
    },
    endsIn() {
      return this.formatDuration(this.endDate - this.now)
    },
    startsIn() {
      const [hours, minutes, seconds] = this.getHoursMinutesAndSeconds(
        this.startDate - this.now
      )

      return this.isScheduled
        ? `${hours.toString().padStart(2, '0')}:${minutes
            .toString()
            .padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`
        : null
    },
  },

  created() {
    setInterval(() => {
      this.now = new Date()
    }, 1000)
  },

  methods: {
    showNotification() {
      this.show = true
    },

    hideNotification() {
      this.show = false
    },

    showModal() {
      document.body.classList.add('show-modal')
    },

    getHoursMinutesAndSeconds(time) {
      const hours = Math.floor(
        (time % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
      )
      const minutes = Math.floor((time % (1000 * 60 * 60)) / (1000 * 60))
      const seconds = Math.floor((time % (1000 * 60)) / 1000)

      return [hours, minutes, seconds]
    },

    formatDate(date) {
      const hours = date.getHours()
      const hoursFormatted =
        hours > 12
          ? (hours - 12).toString().padStart(2, '0')
          : hours.toString().padStart(2, '0')
      const minutes = date.getMinutes().toString().padStart(2, '0')
      const meridiem = date.getHours() > 12 ? 'PM' : 'AM'

      return `${hoursFormatted}:${minutes} ${meridiem}`
    },
    formatDuration(duration) {
      const [hours, minutes] = this.getHoursMinutesAndSeconds(duration)
      const hoursFormatted = `${hours} hr`
      const minutesFormatted = `${minutes} min`

      return `${hours > 0 ? `${hoursFormatted} ` : ''}${
        minutes > 0 ? minutesFormatted : ''
      }`
    },
  },
}
</script>

