#pages > footer {
    background: $black-100;
    color: $grey-700;
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 4rem;

    .wrapper {
        max-width: 70rem;
        padding: 3rem 4rem;
    }

    a {
        color: $grey-700;
        display: inline-block;
        margin: 0 0.75rem 0 0;

        @media (hover: hover) {
            &:hover {
                color: $grey-500;
            }

            &:active {
                color: $grey-700;
            }
        }

        @media (hover: none) {
            &:active {
                color: $grey-500;
            }
        }
    }

    p {
        margin: 1.5rem 0;
        text-align: left;
    }

    div.copyright {
        text-align: left;
    }
}

@import "footer/mobile";
