html,
body {
  background-color: $grey-900;
  color: $white-100;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

#app {
  background-color: $grey-900;
  display: block;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
}

#pages,
.page {
  display: block;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  &.full-width {
    max-width: none;
    padding: 0;
  }
}

@import 'general/responsive';
@import 'general/mobile';
