body.mobile .pn-widget[data-type="guide"] {
    padding: 0 !important;
    width: 100% !important;
        max-width: 100% !important;

    > .title {
        margin-inline: 1.25rem;
    }

    > .listings {
        > .navigation {
            display: none;
        }

        > .container {
            overflow-x: scroll;

            > .items {
                padding: 0 1.25rem;

                &:after {
                    content: '';
                    display: block;
                    flex-shrink: 0;
                    width: 0.5rem;
                }
            }
        }
    }

    .pn-schedule:not(:last-of-type) {
        margin-right: 0.75rem !important;
    }

    @media screen and (min-width: 1025px) {
        .pn-schedule {
            width: 27%
        }
    }

    @media screen and (max-width: 1024px) {
        .pn-schedule {
            width: 35vw;
        }
    }

    @media screen and (max-width: 950px) {
        .pn-schedule {
            width: 40vw;
        }
    }

    @media screen and (max-width: 675px) {
        > .listings {
            > .container {
                scroll-snap-type: x mandatory;
                scroll-padding: 0 10vw;

                .items {
                    &:after {
                        width: calc(1.25rem - 1%);
                    }
                }
            }
        }

        .pn-schedule {
            scroll-snap-align: start;
            width: 80vw;
        }
    }
}
