<template>
  <div id="app">
    <div id="pages">
      <Header />
      <Nuxt />
      <Footer />
      <SignupModal />
    </div>
  </div>
</template>

<script>
import Header from '~/components/Header.vue'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    Header,
    Footer,
  },

  mounted() {
    if (this.$store.state.channels.length === 0) {
      this.$store.dispatch('fetchChannels')
    }

    this.$store.dispatch('device/setUserAgent', navigator)
    this.$store.dispatch('device/setDevice')

    // /** Socket IO root connection */
    // this.socket = this.$nuxtSocket({
    //   channel: '/notifications',
    //   persist: 'mySocket',
    //   withCredentials: true,
    // })

    // this.$store.dispatch(
    //   '$nuxtSocket/emit', {
    //     // socket: this.socket, // action requires either the socket instance *or* the label
    //     label: 'mySocket', // Use persisted socket "mySocket"
    //     evt: 'join',
    //     msg: 'pn:/',
    //   }
    // )

    // this.socket.emit('join', 'pn:/')

    if (this.$store.state.device.isMobile) document.body.classList.add('mobile')
    if (this.$store.state.device.isTablet) document.body.classList.add('tablet')

    if (!this.$store.state.device.isMobile) {
      // this.desktopHeaderNav()
    }

    // this.mobileHeaderNav()
    // this.mobileHeaderNavLinks()
    // this.playerScroll()
    // this.playerNavLinks()
    // this.desktopPlayerNav()
    // this.playerChapters()
  },

  beforeUnmount() {
    console.log('unmounting')
    this.socket.emit('leave', 'pn:/')
  },

  methods: {
    desktopHeaderNav() {
      const navButtons = document.querySelectorAll(
        'header nav > button.navigation'
      )

      // Set Nav Buttons Listeners
      navButtons.forEach((button) => {
        button.addEventListener('click', (e) => {
          e.preventDefault()

          const nav = document.querySelector('header nav')
          const navItems = nav.querySelectorAll('ul li')
          const navWidth = nav.getBoundingClientRect().width
          const direction = e.target.getAttribute('data-direction')

          switch (direction) {
            case 'left': {
              const currentItemIndex = getCurrentItem().left
              const targetItemIndex =
                currentItemIndex - 2 >= 0 ? currentItemIndex - 2 : 0

              if (currentItemIndex === targetItemIndex) return

              const scrollValue =
                targetItemIndex === 0
                  ? 0
                  : navItems[targetItemIndex].offsetLeft
              this.smoothScroll(document.querySelector('nav > .container'), {
                left: scrollValue,
              })

              break
            }
            case 'right': {
              const currentItemIndex = getCurrentItem().right
              const targetItemIndex =
                currentItemIndex + 2 <= navItems.length - 1
                  ? currentItemIndex + 2
                  : navItems.length - 1

              if (currentItemIndex === targetItemIndex) return

              const scrollValue =
                targetItemIndex === navItems.length - 1
                  ? navItems[navItems.length - 1].offsetLeft +
                    navItems[navItems.length - 1].getBoundingClientRect()
                      .width -
                    navWidth
                  : navItems[targetItemIndex].offsetLeft -
                    navItems[currentItemIndex].offsetLeft
              this.smoothScroll(document.querySelector('nav > .container'), {
                left: scrollValue,
              })

              break
            }
          }

          function getCurrentItem() {
            const nav = document.querySelector('header nav')
            const navItems = [...nav.querySelectorAll('ul li')]
            const navWidth = nav.getBoundingClientRect().width
            const scrollLocation = nav.querySelector('.container').scrollLeft

            const navItemsMeta = navItems.map((item) => {
              return {
                start: Math.floor(item.offsetLeft),
                end: Math.floor(
                  item.offsetLeft +
                    item.getBoundingClientRect().width +
                    parseInt(window.getComputedStyle(item).marginRight)
                ),
              }
            })

            return {
              left: navItemsMeta.findIndex(
                (x) => scrollLocation >= x.start && scrollLocation < x.end
              ),
              right: navItemsMeta.findIndex(
                (x) =>
                  scrollLocation + navWidth >= x.start &&
                  scrollLocation + navWidth < x.end
              ),
            }
          }
        })
      })

      // Show/Hide Nav Buttons Manager
      const nav = document.querySelector('header nav')
      const navItems = nav.querySelector('.container ul')
      const firstNavItem = navItems.querySelector('li:first-child a')
      const lastNavItem = navItems.querySelector('li:last-child a')

      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            const scrimClass =
              entry.target === firstNavItem
                ? 'show-nav-left'
                : 'show-nav-right'
            if (entry.intersectionRatio !== 1) {
              if (!nav.classList.contains(scrimClass)) {
                nav.classList.add(scrimClass)
              }
            } else {
              nav.classList.remove(scrimClass)
            }
          })
        },
        { threshold: 1 }
      )

      observer.observe(firstNavItem)
      observer.observe(lastNavItem)
    },

    mobileHeaderNav() {
      if (!this.$store.state.device.isMobile || this.$store.state.device.isTablet)
        return

      const app = document.getElementById('app')
      const nav = document.getElementById('nav')
      const threshold = nav.offsetHeight
      let initialScrollTop = app.scrollTop
      let navPosY = 0

      app.addEventListener('scroll', () => {
        const currentScrollTop = app.scrollTop
        const scrollDifference = initialScrollTop - currentScrollTop

        if (currentScrollTop > initialScrollTop) {
          if (navPosY > -threshold && app.scrollTop > 0) {
            navPosY =
              navPosY + scrollDifference >= -threshold
                ? navPosY + scrollDifference
                : -threshold
            nav.style.transform = `translateY(${navPosY}px)`
          }
        } else if (
          navPosY < 0 &&
          app.scrollTop < app.scrollHeight - app.clientHeight * 1.1
        ) {
          navPosY =
            navPosY + scrollDifference <= 0 && app.scrollTop !== 0
              ? navPosY + scrollDifference
              : 0
          nav.style.transform = `translateY(${navPosY}px)`
        }

        initialScrollTop = currentScrollTop
      })
    },

    mobileHeaderNavLinks() {
      const links = document.querySelectorAll('nav li a')

      links.forEach((link) => {
        link.addEventListener('click', (e) => {
          e.preventDefault()

          const container = e.target.closest('li')
          if (container.classList.contains('active')) return

          const linksContainers = document.querySelectorAll('nav li')
          linksContainers.forEach((container) =>
            container.classList.remove('active')
          )

          container.classList.add('active')

          if (!this.device.isMobile) return

          const scrollPosition =
            (window.innerWidth - container.clientWidth) / 2
          const scrollPositionAdjusted = container.offsetLeft - scrollPosition

          this.smoothScroll(document.querySelector('nav > .container'), {
            left: scrollPositionAdjusted,
          })
        })
      })
    },

    playerScroll() {
      const player = document.querySelector('pn-player')

      if (!player || !this.device.isMobile || this.device.isTablet) return

      const app = document.getElementById('app')
      const header = document.querySelector(
        '#pages > header .body > .wrapper > .container'
      )
      const headerHeight = header.offsetHeight

      let initialScrollTop = app.scrollTop
      let playerNavPosY = 0
      let videoPosY = 0

      app.addEventListener('scroll', () => {
        const currentScrollTop = app.scrollTop
        const scrollDifference = initialScrollTop - currentScrollTop
        const playerNav = document.querySelector(
          'pn-player > header > .container'
        )
        const playerNavHeight = playerNav
          ? playerNav.getBoundingClientRect().height
          : false
        const playerNavThreshold = headerHeight + playerNavHeight
        const video = document.querySelector(
          'pn-player > main > .pn-video > .video'
        )
        const videoThreshold = playerNav ? playerNavThreshold : headerHeight

        if (currentScrollTop > initialScrollTop) {
          // Scroll Down
          if (
            playerNav &&
            playerNavPosY > -playerNavThreshold &&
            app.scrollTop > 0
          ) {
            playerNavPosY =
              playerNavPosY + scrollDifference >= -playerNavThreshold
                ? playerNavPosY + scrollDifference
                : -playerNavThreshold
            playerNav.style.transform = `translateY(${playerNavPosY}px)`
          }

          if (videoPosY > -videoThreshold && app.scrollTop > 0) {
            videoPosY =
              videoPosY + scrollDifference >= -videoThreshold
                ? videoPosY + scrollDifference
                : -videoThreshold
            video.style.transform = `translateY(${videoPosY}px)`
          }
        } else {
          // Scroll Up
          if (
            playerNav &&
            playerNavPosY < 0 &&
            app.scrollTop < playerNavThreshold &&
            app.scrollTop < app.scrollHeight - app.clientHeight * 1.1
          ) {
            playerNavPosY =
              playerNavPosY + scrollDifference <= 0 && app.scrollTop !== 0
                ? playerNavPosY + scrollDifference
                : 0
            playerNav.style.transform = `translateY(${playerNavPosY}px)`
          }

          if (
            videoPosY < 0 &&
            app.scrollTop < app.scrollHeight - app.clientHeight * 1.1
          ) {
            if (playerNav) {
              const firstScrollThreshold = -Math.ceil(playerNavHeight)

              if (videoPosY < firstScrollThreshold) {
                videoPosY =
                  videoPosY + scrollDifference <= firstScrollThreshold &&
                  app.scrollTop !== 0
                    ? videoPosY + scrollDifference
                    : firstScrollThreshold
              } else if (app.scrollTop < playerNavHeight) {
                videoPosY =
                  videoPosY + scrollDifference <= 0 && app.scrollTop !== 0
                    ? videoPosY + scrollDifference
                    : 0
              }
            } else {
              videoPosY =
                videoPosY + scrollDifference <= 0 && app.scrollTop !== 0
                  ? videoPosY + scrollDifference
                  : 0
            }

            video.style.transform = `translateY(${videoPosY}px)`
          }
        }

        initialScrollTop = currentScrollTop
      })
    },

    desktopPlayerNav() {
      const player = document.querySelector('pn-player')

      if (!player) return

      const navButtons = document.querySelectorAll(
        'pn-player > header button.navigation'
      )

      // Set Nav Buttons Listeners
      navButtons.forEach((button) => {
        button.addEventListener('click', (e) => {
          e.preventDefault()

          const nav = document.querySelector('pn-player > header .channels')
          const navItems = nav.querySelectorAll('.items a')
          const navWidth = nav.getBoundingClientRect().width
          const direction = e.target.getAttribute('data-direction')

          switch (direction) {
            case 'left': {
              const currentItemIndex = getCurrentItem().left
              const targetItemIndex =
                currentItemIndex - 2 >= 0 ? currentItemIndex - 2 : 0

              if (currentItemIndex === targetItemIndex) return

              const scrollValue =
                targetItemIndex === 0 ? 0 : navItems[targetItemIndex].offsetLeft
              this.smoothScroll(
                document.querySelector('pn-player > header .channels .items'),
                { left: scrollValue }
              )

              break
            }
            case 'right': {
              const currentItemIndex = getCurrentItem().right
              const targetItemIndex =
                currentItemIndex + 2 <= navItems.length - 1
                  ? currentItemIndex + 2
                  : navItems.length - 1

              if (currentItemIndex === targetItemIndex) return

              const scrollValue =
                targetItemIndex === navItems.length - 1
                  ? navItems[navItems.length - 1].offsetLeft +
                    navItems[navItems.length - 1].getBoundingClientRect()
                      .width -
                    navWidth
                  : navItems[targetItemIndex].offsetLeft -
                    navItems[currentItemIndex].offsetLeft
              this.smoothScroll(
                document.querySelector('pn-player > header .channels .items'),
                { left: scrollValue }
              )

              break
            }
          }

          function getCurrentItem() {
            const nav = document.querySelector('pn-player > header .channels')
            const navItems = [...nav.querySelectorAll('.items a')]
            const navWidth = nav.getBoundingClientRect().width
            const scrollLocation = nav.querySelector('.items').scrollLeft

            const navItemsMeta = navItems.map((item) => {
              return {
                start: Math.floor(item.offsetLeft),
                end: Math.floor(
                  item.offsetLeft +
                    item.getBoundingClientRect().width +
                    parseInt(window.getComputedStyle(item).marginRight)
                ),
              }
            })

            return {
              left: navItemsMeta.findIndex(
                (x) => scrollLocation >= x.start && scrollLocation < x.end
              ),
              right: navItemsMeta.findIndex(
                (x) =>
                  scrollLocation + navWidth >= x.start &&
                  scrollLocation + navWidth <= x.end
              ),
            }
          }
        })
      })

      // Show/Hide Nav Buttons Manager
      const nav = document.querySelector('pn-player > header .channels')
      const navItems = nav.querySelector('.items ul')
      const firstNavItem = navItems.querySelector('li:first-child')
      const lastNavItem = navItems.querySelector('li:last-child')

      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            const scrimClass =
              entry.target === firstNavItem
                ? 'show-nav-left'
                : 'show-nav-right'
            if (entry.intersectionRatio !== 1) {
              if (!nav.classList.contains(scrimClass)) {
                nav.classList.add(scrimClass)
              }
            } else {
              nav.classList.remove(scrimClass)
            }
          })
        },
        { threshold: 1 }
      )

      observer.observe(firstNavItem)
      observer.observe(lastNavItem)
    },

    playerNavLinks() {
      const player = document.querySelector('pn-player')

      if (!player) return

      const channels = document.querySelectorAll(
        'pn-player > header .channels .items a'
      )

      channels.forEach((channel) => {
        channel.addEventListener('click', (e) => {
          const activeChannels = document.querySelectorAll(
            'pn-player > header .channels .items a.active'
          )
          for (const channel of activeChannels) {
            channel.classList.remove('active')
          }

          e.target.closest('a').classList.add('active')
        })
      })
    },

    playerChapters() {
      const player = document.querySelector('pn-player')
      const chapters = document.querySelectorAll('.pn-chapter')

      if (!player || !chapters) return

      chapters.forEach((chapter) => {
        const cover = chapter.getAttribute('data-cover')

        chapter.addEventListener('click', () => {
          player.querySelector(
            'main > .pn-video > .video > .cover'
          ).style.backgroundImage = `url(${cover})`
        })
      })
    },

    smoothScroll(element, parameters) {
      const clock = Date.now()
      const requestAnimationFrame =
        window.requestAnimationFrame ||
        window.mozRequestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        ((fn) => {
          window.setTimeout(fn, 15)
        })
      const easeInOutCubic = (t) => {
        return t < 0.5
          ? 4 * t * t * t
          : (t - 1) * (2 * t - 2) * (2 * t - 2) + 1
      }

      const { left = 0, duration = 250 } = parameters
      const start = element.scrollLeft
      const end = parseInt(left)

      const position = (start, end, elapsed, duration) => {
        if (elapsed > duration) return end
        return start + (end - start) * easeInOutCubic(elapsed / duration)
      }

      const step = () => {
        const elapsed = Date.now() - clock
        element.scrollLeft = position(start, end, elapsed, duration)
        if (elapsed < duration) requestAnimationFrame(step)
      }

      step()
    },

    videoMouseOver(card) {
      const pn = this
      const cover = card.querySelector('.video > .cover')
      const player = card.querySelector('.video > .player')
      const button = card.querySelector('.video > button')
      const previewUri = card.getAttribute('data-preview')

      if (!previewUri) return

      player.innerHTML = '<div></div>'
      const playerPreview = player.querySelector('div')
      const previewVideo = jwplayer(playerPreview)

      previewVideo.setup({
        controls: false,
        playlist: [
          {
            sources: [
              {
                file: previewUri,
              },
            ],
          },
        ],
      })

      previewVideo.on('ready', () => {
        const video = card.querySelector('.video > .player video')
        video.loop = true
        video.muted = true
        previewVideo.play()

        // previewVideo.on('firstFrame', () => {
        pn.videoShow = setTimeout(() => {
          button.style.opacity = 0
          cover.style.opacity = 0
        }, 100)
        // })
      })
    },

    videoMouseOut(card) {
      const pn = this
      const cover = card.querySelector('.video > .cover')
      const player = card.querySelector('.video > .player')
      const button = card.querySelector('.video > button')

      clearTimeout(pn.videoShow)

      setTimeout(() => {
        button.style.opacity = 1
        cover.style.opacity = 1
        player.innerHTML = ''
      }, 150)
    },
  },
}
</script>
