body.mobile .pn-widget[data-type="category"] {
    h2 {
        margin: 0 1.25rem 0.875rem;
    }

    > .listings {
        > .navigation {
            display: none;
        }

        > .container {
            overflow-x: scroll;

            > .items {
                left: 0 !important;
                padding: 0 1.25rem;

                .pn-video {
                    margin-right: 0.75rem;
                }

                &:after {
                    content: '';
                    display: block;
                    flex-shrink: 0;
                    width: 0.5rem;
                }
            }
        }
    }

    &.expanded {
        > .listings > .container > .items {
            flex-wrap: wrap;
        }
    }

    @media screen and (min-width: 1025px) {
        > .listings > .container > .items {
            .pn-video {
                width: 27%;
            }
        }

        &.expanded {
            > .listings > .container > .items {
                .pn-video {
                    margin: 0 0 1.125rem;
                    width: calc(33.33333% - 0.75rem);

                    &:not(:nth-child(3n)) {
                        margin-right: 1.125rem;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        > .listings > .container > .items {
            .pn-video {
                width: 35vw;
            }
        }

        &.expanded {
            > .listings > .container > .items {
                .pn-video {
                    margin: 0 0 1.125rem;
                    width: calc(50% - 0.5625rem);

                    &:not(:nth-child(2n)) {
                        margin-right: 1.125rem;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 950px) {
        > .listings > .container > .items {
            .pn-video {
                width: 40vw;
            }
        }
    }

    @media screen and (max-width: 675px) {
        > .listings > .container {
            scroll-padding: 0 12.5vw;
            scroll-snap-type: x mandatory;

            > .items {
                .pn-video {
                    scroll-snap-align: start;
                    width: 75vw;
                }
            }
        }

        &.expanded {
            > .listings > .container > .items {
                .pn-video {
                    margin: 0 0 1.125rem;
                    width: 100%;

                    &:last-of-type {
                        margin: 0;
                    }
                }
            }
        }
    }
}
