.pn-widget[data-type="category"] {
    @media screen and (max-width: 1280px) {
        h2 {
            margin-inline: 6%;
        }

        > .listings {
            > .navigation {
                button.navigation {
                    width: 5%;
                }
            }

            .items {
                left: -23.66666%;

                .pn-video {
                    width: 28.66666%;
                }
            }
        }
    }

    @media screen and (max-width: 950px) {
        h2 {
            margin-inline: 7%;
        }

        > .listings  {
            > .navigation {
                button.navigation {
                    width: 6%;
                }
            }

            .items {
                left: -36.5%;

                .pn-video {
                    width: 42.5%;
                }
            }
        }
    }

    @media screen and (max-width: 675px) {
        h2 {
            margin-inline: 4.5rem;
        }

        > .listings  {
            > .navigation {
                button.navigation {
                    // background-color: rgba(0, 0, 0, 0.15);
                    width: 3.5rem;
                }
            }

            .items {
                left: calc(-100% + 9rem + 3.5rem);

                .pn-video {
                    margin-right: 1rem;
                    width: calc(100% - 9rem);
                }
            }
        }
    }
}
