.pn-video {
    @media screen and (max-width: 675px) {
        .notification {
            flex-direction: column;
            font-size: 1.15rem;
            min-height: auto;
            padding: 1.25rem;
            position: fixed;
            z-index: 1000;

            .message {
                line-height: 1.45;
                margin: 0 0 1rem;
                max-width: 70%;
                text-align: center;
            }
        }
    }
}
