&[data-status="live"] {
    .status {
        background-color: $red-100;

        &:before {
            content: 'Live';
        }
    }
}

&[data-status="ended"] {
    .status {
        background-color: $grey-900;

        &:before {
            content: 'Ended';
        }
    }
}

&[data-status="scheduled"] {
    .status {
        background-color: $grey-900;
        color: $yellow-400;

        &:before {
            color: $white-100;
            content: 'Starts In';
            margin-right: 0.4rem;
        }
    }
}