<template>
  <div data-type="live" class="page">
    <Hero />
    <ChannelListings />
    <Categories />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'IndexPage',
})
</script>
