.page[data-type="channel"] {
    .pn-player {
        .pn-widget[data-type="guide"] .pn-video[data-type="expanded"] {
            .video:after {
                background-image: url($IMG_BASE_URI + "/backgrounds/fade.png");
                background-position: 100% 100%;
                height: 7rem;
            }

            .description button {
                width: 80% !important;
            }

            &[data-status="live"] {
                .video .channel.logo {
                    content: url($IMG_BASE_URI + "/icons/live.svg") !important;
                }

                .description .time {
                    span {
                        display: none;
                    }

                    &:after {
                        content: 'Now Playing';
                    }
                }
            }

            &[data-status="scheduled"] {
                .video .channel.logo {
                    content: '' !important;
                    display: flex;
                        align-items: flex-end;
                        justify-content: center;
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 1;
                    text-transform: uppercase;
                }

                .description .time {
                    span {
                        display: none;
                    }

                    &:after {
                        content: 'Playing Soon';
                    }
                }
            }
        }
    }
}

// @import "channel/responsive";
@import "channel/mobile";
