body.mobile .page[data-type="live"] {
    .pn-widget[data-type="guide"] {
        .pn-video .video:after {
            height: 12rem;
        }
    }

    @media screen and (max-width: 675px) {
        section.hero {
            padding: 0.25rem 0 0 0;

            .streams {
                overflow-x: scroll;
                scroll-padding: 0 calc(7.5vw + 0.625rem);
                // scroll-padding: 0 1.25rem;
                scroll-snap-type: x mandatory;

                .items {
                    flex-wrap: nowrap;
                    padding: 0 0.75rem;

                    &:after {
                        content: '';
                        display: block;
                        flex-shrink: 0;
                        width: 0.75rem;
                    }
                }

                .pn-video {
                    display: flex !important;
                    scroll-snap-align: start;
                    width: 80vw !important;
                }
            }

            .content {
                margin: 0 1.25rem;
                padding-top: 1rem;
            }
        }
    }
}
