.page[data-type="live"] {
    @media screen and (max-width: 1280px) {
        section.hero {
            .content {
                padding: 1.15rem 0;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        section.hero {
            border-radius: 0;
            flex-direction: column;

            .streams {
                width: 100%;
            }

            .content {
                padding: 2rem 0;
            }
        }
    }

    @media screen and (max-width: 950px) {

    }

    @media screen and (max-width: 675px) {
        section.hero {
            margin: 0;
            width: 100%;

            .streams {
                .pn-video {
                    display: none;

                    &:nth-of-type(1) {
                        display: block;
                        width: calc(100% - 1rem);
                    }
                }
            }

            .content {
                margin: 0 0.5rem;
                padding: 1.5rem 0;

                h1 {
                    font-size: 1.75rem;
                    margin-bottom: 0.675rem;

                    span {
                        font-size: 1.1rem;
                    }
                }

                p {
                    font-size: 1rem;
                }

                .buttons {
                    flex-direction: column;

                    .button {
                        margin-inline: 0;
                    }
                }
            }
        }
    }
}
