.page[data-type="video"] {
    .pn-player {
        > main {
            > .pn-video {
                .video {
                    .status, .channel {
                        display: none;
                    }
                }

                &:after {
                    display: block !important;
                }
            }

            > aside:before {
                background-color: $blue-100;
                content: 'Video On Demand';
            }
        }
    }
}

// @import "video/responsive";
@import "video/mobile";
