&[data-type="recommended"] {
    padding: 3.25rem 0.75rem 0.75rem;
    width: 100%;

    &:before {
        content: 'Recommended Channels';
    }

    .pn-video {
        &:not(:last-of-type) {
            margin-bottom: 0.5rem;
        }
    }
}
