body.mobile .page[data-type="video"] {
    .pn-player {
        .pn-widget[data-type="chapters"] {
            margin: 0.5rem 0 0.75rem;

            > .listings {
                > .navigation {
                    display: none;
                }

                > .container {
                    overflow-x: scroll;

                    > .items {
                        padding: 0 1.25rem;

                        .pn-chapter {
                            margin-right: 0.5rem;
                        }

                        &:after {
                            content: '';
                            display: block;
                            flex-shrink: 0;
                            width: 0.75rem;
                        }
                    }
                }
            }
        }
    }

    section[data-type="article"] {
        margin-top: 3rem;
    }

    @media screen and (max-width: 675px) {
        .pn-player {
            padding: 0 !important;

            .pn-widget[data-type="chapters"] {
                > .listings > .container > .items {
                    padding: 0 0.5rem;

                    &:after {
                        width: 1px;
                    }
                }
            }
        }

        section[data-type="article"] {
            margin-top: 1.75rem;

            article {
                width: 100%;
            }
        }
    }
}
