.page[data-type="live"] {
    section.hero {
        background-color: $black-100;
        border-radius: 0.375rem;
        display: flex;
            align-items: center;
            justify-content: space-between;
        padding: 0.75rem;

        .streams {
            flex-shrink: 0;
            width: 60%;

            .items {
                display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
            }

            .pn-video {
                margin: 0.5rem;
                width: calc(50% - 1rem);
            }
        }

        .content {
            margin: 0 1.75rem 0 2rem;

            h1 {
                color: $white-100;
                line-height: 1.25;
                margin: 0 0 0.9rem;
                font-size: 2.1rem;
                font-weight: 700;
                letter-spacing: revert;
                text-transform: uppercase;

                span {
                    color: $red-100;
                    display: block;
                    font-size: 1.275rem;
                    letter-spacing: -0.5px;
                }
            }

            p {
                font-size: 1.075rem;
                line-height: 1.65;
                margin: 0 0 1.75rem;
            }

            .buttons {
                display: flex;
                    flex-wrap: wrap;
            }

            a {
                display: inline-flex;
                flex-shrink: 0;
                font-size: 1rem;

                svg {
                    margin-right: 0.625rem;
                }

                &.account {
                    margin: 0 0.875rem 0.75rem 0;
                    padding: 0 1.5rem;

                    svg {
                        fill: $white-100;
                        height: 1rem;
                        width: 1rem;
                    }
                }

                &.channels {
                    svg {
                        fill: none;
                        height: 1.5rem;
                        stroke: $white-100;
                        width: 1.5rem;
                    }
                }
            }
        }
    }

    .pn-widget[data-type="guide"] {
        margin-top: 2rem;
        max-width: calc(1200px + 9rem);
        padding: 0 4.5rem;
    }
}

@import "live/responsive";
@import "live/mobile";
