body.mobile .pn-player {
    padding: 0 0 0.75rem !important;

    > header {
        margin: 0;

        .container {
            padding: 0.5rem 0 0.65rem;
        }

        .channels {
            overflow-x: scroll;
            padding-bottom: 0.25rem;

            .items {
                padding: 0 1.25rem;

                &:after {
                    content: '';
                    display: block;
                    flex-shrink: 0;
                    width: 0.5rem;
                }
            }
        }

        a {
            height: 3.5rem;
            margin-right: 0.65rem;
            width: 9.75rem;

            &.active:after {
                border: 0.25rem solid rgba(255, 255, 255, 0.25);
                border-radius: 0.375rem;
                overflow: hidden;
            }
        }

        a:not(.active) {
            opacity: 0.5;
        }

        button.navigation {
            display: none;
        }
    }

    > main {
        padding: 0 1.25rem;

        .pn-video {
            .video {
                will-change: transform, position;
            }
        }
    }

    .pn-widget[data-type="guide"] {
        > .listings {
            > .container > .items:after {
                width: calc(1.25rem - 1%);
            }
        }
    }

    @media screen and (min-width: 676px) and (max-width: 1440px) {
        > header {
            a {
                height: 4rem;
                width: 10.25rem;
            }
        }
    }

    @media screen and (max-width: 675px) {
        background-color: transparent;

        > header {
            height: 4.75rem;

            .container {
                align-items: center;
                height: 4.75rem;
                position: fixed;
                width: 100%;
                will-change: transform;
            }

            .channels {
                padding: 0;

                .items {
                    padding: 0 0.75rem;

                    &:after {
                        width: 0.25rem;
                    }
                }
            }
        }

        > main {
            padding: 0;

            .pn-video {
                border-radius: 0;
                padding-bottom: 56.25%;

                .video {
                    box-shadow: rgba(0, 0, 0, 0.4) 0 0.75rem 2rem;
                    position: fixed;
                    will-change: transform;
                    z-index: 100;

                    .cover {
                        border-radius: 0;
                    }
                }
            }

            aside {
                border-radius: 0;
                margin: 0;
            }
        }
    }
}
