.pn-player {
    @media screen and (max-width: 1280px) {
        > main {
            aside {
                > .container {
                    justify-content: flex-end;
                }

                p {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: 1200px) {
        border-radius: 0;

        .pn-widget[data-type="guide"], .pn-widget[data-type="chapters"] {
            > .listings > .navigation {
                button.navigation[data-direction="right"] {
                    opacity: 1;
                    pointer-events: initial;
                }
                button.navigation[data-direction="left"] {
                    opacity: 1;
                    pointer-events: initial;
              }
            }
        }
    }

    @media screen and (max-width: 1100px) {

    }

    @media screen and (max-width: 1024px) {
        > main {
            aside {
                h2 {
                    font-size: 1rem;
                }
            }
        }
    }

    @media screen and (max-width: 950px) {
        > main {
            aside {
                .meta {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        > main {
            flex-direction: column;

            .pn-video {
                width: 100%;
            }

            .pn-widget[data-type="chapters"] {
                display: flex;
            }

            aside {
                margin: 1rem 0 0;

                h2 {
                    font-size: 1.1rem;
                }

                .meta {
                    display: flex;
                }
            }
            .pn-widget[data-type="guide"], .pn-widget[data-type="chapters"] {
                > .listings > .navigation {
                    button.navigation[data-direction="right"] {
                        opacity: 0;
                        pointer-events: initial;
                    }
                    button.navigation[data-direction="left"] {
                        opacity: 0;
                        pointer-events: initial;
                  }
                }
            }
        }

        footer {
            .pn-widget[data-type="chapters"] {
                display: none;
            }
        }
    }

    @media screen and (max-width: 675px) {
        > header {
            .channels .items {
                padding: 0 0.65rem;
            }

            .channel {
                max-height: 1.75rem;
            }
        }

        > main {
            .pn-video {
                width: 100%;
            }
        }

        .pn-widget[data-type="chapters"] {
            .pn-chapter {
                min-width: 9.5rem;

                .cover {
                    height: 6.5rem;
                }

                .timestamp {
                    background-color: rgba(0,0,0,0.35);
                    color: $white-100;
                    font-size: 0.8rem;
                    padding: 0.25rem;
                    position: absolute;
                        bottom: 0;
                }
            }
        }
    }
}
