<template>
  <div data-type="video" class="page">
    <VideoPlayer :active-video="video" />
    <Article />
    <Categories />
  </div>
</template>

<script>
export default {
  async asyncData({ params }) {
    const video = await fetch(
      `https://capi.pn-internals.net/videos/${params.hash}`
    ).then((res) => res.json())
    return { video }
  },
}
</script>
