body.mobile .page[data-type="channel"] {
    @media screen and (max-width: 675px) {
        .pn-widget[data-type="guide"] > .listings > .container {
            scroll-padding: 0 calc(18vw - 0.375rem);
        }
    }
}
