body.mobile {
  // background-color: $black-100;

  ::-webkit-scrollbar {
    display: none !important;
  }

  #app {
    // background-color: $black-100;
    padding: 0 0 20vh 0;
    width: 100vw;

    &::-webkit-scrollbar {
      display: none !important;
    }
  }

  .page {
    padding-top: 106px !important;
  }

  .wrapper {
    margin: 0 auto;
    max-width: none;
    padding: 0 1.25rem;
  }
}
